		* {
			font-family: Helvetica, sans-serif;
		}
		.container {
			width: 878px;
			height: 317px;
			background-color: #eaeaea;
			border-radius: 3px;
		}
		.selectContainer {
			width: 20%;
			left: 0;
			padding: 20px;
		}
		.selector {
			text-align: center;
			color: #323232;
		}
		.selector2 {

		}
		.result-label {
			background-color: rgba(255,255,255,0);
		}
		.key {
			float: left;
			width: 260px;
			height: 30px;
			margin: 0px;
			padding: 30px 0 20px;
		}
		.keyText {
			float: left;
			color: #a1a1a1;
			font-weight: lighter;
			padding: 2px 8px 0 0;
		}
		.box {
			width: 10px;
			height: 10px;
			border-radius: 100%;
			float: left;
			margin: 6px 8px 0 8px;
		}
		.graphDisplayContainer {
			float: right;
			width: 590px;
			height: 270px;
			margin: 20px;
		}
		.verticalContainer {
			float: left;
			width: 60px;
			height: 80%;
			margin-top: 6.5%;
		}
		.vertical {
			text-align: right;
			color: #a1a1a1;
		}
		.graphDisplay {
			width: 526px;
			height: 237px;
			border-left: 1px solid #a1a1a1;
			border-bottom: 1px solid #a1a1a1;
			float: right;
			border-radius: 0 0 0 3px;
			position: relative;
		}
		.bottomGraph table{
			padding-left: 25px;
		}
		.bottomGraph td {
			padding-left: 8px;
			color: #a1a1a1;
			font-size: 14px; margin-top: 3px;
			width: 60px;
			vertical-align: top;
			text-align: center;

		}
		.graphBar {
			bottom: 0px;
			position: absolute;
			width: 10%;
			height: 80%;
			text-align: center;
			vertical-align: center;
			font-weight: lighter;
			font-size: 12px;

		}
		.graphDisplay td {
			padding: 35px;
			float: right;

		}
		.total {
			height: 100%;
            position:relative;
		}
		.bar {
			/*border: 1px solid #323232;
			box-sizing:border-box;
 			-moz-box-sizing:border-box;
  			-webkit-box-sizing:border-box;*/
  			background-color: #797979;
			width: 100%;
			border-radius: 3px 3px 0 0;
			color: #fff;
            position: absolute;

		}
		.bar2 {
			background-color: #ef3b39;
			width: 100%;
			color: #fff;
            position: absolute;
		}
		.bar3 {
			background-color: #41b874;
			width: 100%;
			color: #fff;
            position: absolute;
            bottom: 0px;
		}
		.text {
			display:inline-block;
			vertical-align:middle;
			height: 100%;
			margin-top: 2px;
			padding: 0 3px;
			letter-spacing: 1px;
		}
		.result-label {
			margin-top: 19px;
		}
		#analytics {
			width: 100%;
		}
		#filter {
			width: 100%;
			margin-top: 20px;
		}
		select {
			width: 100%;
		}