body {
	background-color: #fbfbfb!important;
}
img {
	border: 0;
}
.left {
	float: left;
}
.right {
	float: right;
}
.hide {
	display: none;
}
.admin-bar {
	color: #323232;
	font-size: 14px;
	padding: 20px 20px 0 0;
	text-align: right;
}
.admin-bar a {
	color: #323232;
	text-decoration: none;
}
.admin-bar a:hover {
	color: red;
}
.action-message {
	background-color: #222;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	left: 0;	
	padding: 20px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 1000;
}
.content-wrap {
	padding-bottom: 200px;
}
.main-nav {
	margin-top: 31px;
	margin: auto;
	margin-left: 29%;
	margin-right: 1px;
}
.main-nav-item {
	background-color: #2ecc71;
	border-radius: 3px;
	color: #fff;
	display: block;
	margin-bottom: 10px;
	padding: 10px 0px;
	width: 25%;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	float: left;
	margin-right: 15px;
}
.main-nav-item.active {
	background-color: #2ecc71;
	border-radius: 2px;
	color: #fff;
	display: block;
}
.main-nav-item:hover {
	background-color: #27db73;
	cursor: pointer;
}
.section-header-med {
	font-size: 21px;
	padding-left: 10px;
}
.card-wrap {
	background-color: #eaeaea;
	/* border: 1px solid #D5D5D5; */
	border-radius: 3px;
	margin-bottom: 20px;
}
.card-wrap.highlight {
	background-color: #FFFEE4!important;
}
.card-wrap.ask-new-question {
	/* background-color: #fff; */
	/* border: 1px solid #D5D5D5; */
	/* padding: 30px; */
}
.card-wrap p {
	font-size: 14px;
	line-height: 20px;
}
.content-wrap h2 {
	color: #222;
	font-weight: 300;
	margin: 15px 0 0 0;
	font-size: 21px;
	position: relative;
	display: block;
	padding-right: 10px;
	padding-left: 2.5%;
	padding-top: 15px;
}
.content-wrap .emphasis-heading {
	color: #323232;
	font-size: 21px;
	padding: 5px 25px 0;
}
.content-wrap h2.emphasis-heading.instruction {
	color: #c0392b;
	font-size: 17px;
}
.info-wrap {
	background-color: #eaeaea;
	padding: 30px 30px 50px;
	float:left;
}
.code-provider {
	margin: 0;
	padding: 5px;
}
#questions {
	margin-top: 40px;
	margin-bottom: 15px;
	margin-left: 100px;
	text-align: center;
}
.small-instruction-text {
	color: #333;
	font-size: 12px;
}
.timestamp {
	color: #999;
	font-size: 10px;
	padding: 10px 0 20px;
	text-align: center;
}
.charcount {
	color: #999;
	font-size: 10px;
	margin: 0 30px -12px 0;
	text-align: right;
}
.charcount-error {
	color: red;
	font-size: 10px;
	margin: 0 30px -12px 0;
	text-align: right;
}
.line-item {
	margin-top: 9.5px;
	overflow: hidden;
}
.line-item-controls button {
	cursor: pointer;
}
button:active,
button:focus {
	border: none;
	outline: none;
}
.question-wrap {
	border-radius: 4px;
	padding: 10px 20px 0px 10px;
	display: block;
	margin: 10px 20px;
	word-wrap: break-word;
	word-spacing: normal;
	font-family: Helvetica-Light, Helvetica;
	font-size: 15px;
	text-align: left;
	border: 1px solid transparent;
	text-indent: -0.5px;
	line-height: 1.313rem;
	color: #323232;
}
.header-small {
	color: #999;
	font-size: 12px;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	display: inline-block;
	word-spacing: 55px;
}
.results-wrap {
	margin: 4.5px;
}
.line-item-results {
	background-color: #fff;
	margin-bottom: 1px;
	padding: 5px 0 5px 20px;
	border: solid 2px #f3f3f3;
}
.result-label {
	color: #a1a1a1;
	display: inline-block;
	font-size: 15px;
	margin-right: 0px;
	text-align: right;
	margin-top: 29px;
}
.mini-label {
	font-size: 11px;
	padding: 5px 0 0;
	text-transform: uppercase;
}
.line-item-results .pill {
	font-size: 18px;
}
.line-item-results .updated.pill {
	background-color: #2ecc71;
	color: #fff;
}
.line-item-results .pill.yes {
	color: #2ecc71;
}
.line-item-results .pill.no {
	color: #323232;
}
/* New Selectors */
.newbutton {
	margin: 0px;
	border: none;
	border-radius: 2px;
	background-color: #2ecc71;
	color: #fff;
	padding: 10px 28px;
	font-size: 14px;
	font-family: Helvetica-Light, Helvetica;
	cursor: pointer;
	margin-left: 2.5%;
	margin-bottom: 2.5%;
}
.newbutton:hover {
	background-color: #27db73
}
.newbutton:disabled {
	opacity: 0.3;
	cursor: auto;
}
.newbutton:disabled:hover {
	background-color: #2ecc71;
}
#save-question {
	padding: 10px 36px;
	margin-bottom: 18px;
}
.line-item-controls {
	margin: 0px 32.58%;
}
.editMessage {
	margin-bottom: 10px;
	width: 100%;
}
/*End new selectors*/

/* signup view */
.signup-block-wrap {
	color: #fff;
}
.signup-block-wrap h3,
.signup-block-wrap a {
	color: #323232;
	text-decoration: none;
}
.signup-block-wrap a:hover {
	color: #2ecc71;
}
.form-section-title {
	border-top: 1px solid #a1a1a1;
	font-size: 19px;
	font-weight: 500;
	margin-top: 40px;
	padding-top: 10px;
}
.signup-input-wide {
	margin: 20px 0 0;
	width: 310px;
}
.fresh-text-input {
	display: inline-block;
	min-height: 42px;
	padding: 6px 0;
	font-size: 1.1em;
	line-height: 28px;
	color: #262936;
	width: 100%;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #CCD0D6;
	border-radius: 4px;
	margin-right: 10px;
	font-family: Helvetica-Light, Helvetica;
	text-align: left;
	-webkit-transition: border linear,box-shadow linear;
	-webkit-transition-delay: 0.2s,0.2s;
	-moz-transition: border linear 0.2s,box-shadow linear 0.2s;
	-o-transition: border linear 0.2s,box-shadow linear 0.2s;
	transition: border linear 0.2s,box-shadow linear 0.2s;
}
.public-form-error-message {
	color: #FF0000;
	padding-top: 10px;
}
.signup-form,
.login-form {
	margin: auto;
	width: 36%;
	padding: 20px 0 0;
}
.signup-btn,
.login-btn {
	border: none;
	font-size: 18px;
	margin: 40px auto 0;
	padding: 15px 0;
	width: 100%;
}
.signup-btn:hover,
.login-btn:hover {
	background-color: #2ECC71;
	border: none;
}
/* extent topcoat components */
.topcoat-icon-button--large:hover {
	cursor: pointer;
}
.topcoat-button--quiet.active {
	color: #2ecc71;
	background-color: #fff;
	border: 1px solid #CED6D8;
	box-shadow: none;
	font-family: Helvetica;
	font-weight: 400;
}
.delete	{
	color: red;
	font-weight: normal;
}
#answer-display {
		background-image: url(img/pill.svg);
		background-size: 100%;
		width: 175px;
		background-repeat: no-repeat;
		color: #fff;
		font-size: 24px;
		height: 33px;
		display: inline-block;
}
.vote {
	padding:28px;
	display:inline-block;
	margin-top: -25px;
}
.reset {
	width: 100%;
	text-align: center;
}
.analytics {
	float: left;
	background-color: #2ecc71;
	border-radius: 3px;
	color: #fff;
	display: block;
	margin-bottom: 10px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	float: left;
	margin-right: 15px;
}
.cms {
	background-color: #2ecc71;
	border-radius: 3px;
	color: #fff;
	display: block;
	margin-bottom: 10px;
	padding: 10px 0px;
	width: 97px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	margin-right: 15px;
}
#cmscontainer {
	float: left;
	width: 12.5%;
}
#settings2 {
	margin-left: 117.5px;
}
.logo {
	margin-left: -4px !important;
	text-align: center;
}
.title {
	font-size: 21px;
}
#ask {
    background: #b9b9b9;
    margin-left: 12%;
}
#days {
	width: 40px;
}



@media only screen and (min-width: 768px) and (max-width: 959px) {
    #cmscontainer {
    	width: 15%
    }
    .card-wrap {
    	width: 575px !important;
    }
    .main-nav {
    	margin-left: 25%;
    }
    .signup-form,
	.login-form {
		width: 45%;
	}
    #ask {
    	margin-left: 15%;
    }
    img {
    	margin-left: -30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .main-nav-item {
    	width: 100%;
    	margin-left: 0px;
    	float: none;
    }
    .main-nav {
    	margin-left: 0px;
    }
    .cms {
    	float: left;
    	padding: 10px 0px;
    	width: 21%;
    }
    .signup-form,
	.login-form {
		width: 75%;
	}
    #cmscontainer {
    	margin-top: 20px;
    	width: 100%;
    	margin-left: 11.5px;
    }
    #settings2 {
    	margin-left: 0px;
    }
    .card-wrap {
    	margin-bottom: 40px;
    }
    .card-wrap p {
    	padding-left: 15px;
    }
    .logo {
    	margin-left: 5px !important;
    }
    .admin-bar {
    	padding: 20px 0px;
    	text-align: center;
    }
    .analytics {
    	float: none;
    	margin-right: 0px;
    }
    .code-provider {
    	margin: 0 0 0 10px;
    }
    .title {
    	padding-left: 15px;
    }
    #ask {
    	margin-left: 0px;
    }
    #questions {
    	margin-left: 0px;
    }
    #settings2 {
    	padding-left: 0px;
    	padding-right: 0px; 
    }
    #steps {
    	padding-right: 0px;
    	padding-left: 0px;
    }
    #days {
    	margin-left: 15px;
    }
    #yes {
		margin-left: 15px;
	}
    strong {
    	padding-left: 15px;
    }
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
    .main-nav-item {
    	width: 100%;
    	margin-left: 0px;
    	float: none;
    }
    .main-nav {
    	margin-left: 0px;
    }
    .cms {
    	float: left;
    	margin-right: 6px;
    	padding: 10px 8px;
    	width: 63px;
    }
    .signup-form,
	.login-form {
		width: 90%;
	}
    #cmscontainer {
    	margin-top: 20px;
    	width: auto;
    	margin-left: 8%;
    }
    .info-wrap {
    	padding-left: 0px;
    }
    #settings2 {
    	margin-left: 0px;
    }
    .card-wrap {
    	margin-bottom: 40px;
    }
    .card-wrap p {
    	padding-left: 15px;
    }
    .logo {
    	margin-left: 5px !important;
    }
    .analytics {
    	float: none;
    	margin-right: 0px;
    }
    .code-provider {
    	margin: 5px;
    }

    #questions {
    	margin-left: 0px;
    }
    #settings2 {
    	padding-left: 0px;
    	padding-right: 0px; 
    }
    .admin-bar {
    	padding: 20px 0px;
    	text-align: center;
    }
    .title {
    	padding-left: 15px;
    }
    #ask {
    	margin-left: 0px;
    }
    #steps {
    	padding-right: 0px;
    	padding-left: 0px;
    }
    #days {
    	margin-left: 15px;
    }
    #yes {
		margin-left: 15px;
	}
    strong {
    	padding-left: 15px;
    }
}