body {
	background-color: #f9f9f9!important;
}
img {
	border: 0;
}
.left {
	float: left;
}
.right {
	float: right;
}
.hide {
	display: none;
}
.admin-bar {
	color: #323232;
	font-size: 14px;
	padding: 20px 80px 0 0;
	text-align: right;
}
.admin-bar a {
	color: #323232;
	text-decoration: none;
}
.admin-bar a:hover {
	color: red;
}
.action-message {
	background-color: #222;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	left: 0;	
	padding: 20px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 1000;
}
.extended-wrap {
	/*padding: 0 40px;*/
}
.content-wrap {
	padding-bottom: 200px;
}
.main-nav-item {
	background-color: #2ecc71;
	border-radius: 2px;
	color: #fff;
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
}
.main-nav-item:hover {
	background-color: #27db73;
	cursor: pointer;
}
.main-nav-item a {
	color: #fff;
	text-decoration: none;
}
.secondary-nav-item {
	color: #2ecc71;
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
}
.section-header-med {
	font-size: 15px;
	padding-left: 10px;
	text-transform: uppercase;
}
.card-wrap {
	background-color: #f3f3f3;
	border: 1px solid #D5D5D5;
	border-radius: 10px;
	margin-bottom: 20px;
}
.card-wrap.highlight {
	background-color: #FFFEE4!important;
}
.card-wrap.ask-new-question {
	background-color: #fff;
	border: 1px solid #D5D5D5;
	padding: 30px;
}
.card-wrap p {
	font-size: 14px;
	line-height: 15px;
}
.content-wrap h2 {
	color: #222;
	font-weight: 300;
	margin: 15px 0 0 0;
	font-size: 21px;
	position: relative;
	display: block;
	padding-right: 10px;
	padding-left: 2.5%;
	padding-top: 15px;
}
.content-wrap .emphasis-heading {
	color: #c0392b;
	font-size: 15px;
	padding: 20px 20px 0;
	text-transform: uppercase;
}
.content-wrap h2.emphasis-heading.instruction {
	color: #c0392b;
	font-size: 17px;
}
.info-wrap {
	background-color: #FFF;
	border: 1px solid #AAA;
	padding: 30px;
}
.code-provider {
	margin: 0;
	padding: 5px;}
#questions {
	margin-top: 40px;
	margin-bottom: 15px;
}
.small-instruction-text {
	color: #333;
	font-size: 12px;
}
.timestamp {
	color: #999;
	font-size: 10px;
	padding: 10px 0 20px;
	text-align: center;
}
.charcount {
	color: #999;
	font-size: 10px;
	margin: 4px 2.5% -16px;
	text-align: right;
}
.charcount-error {
	color: red;
	font-size: 10px;
	margin: 4px 14px -16px;
	text-align: right;
}
.line-item {
	margin-top: 9.5px;
	overflow: hidden;
	padding: 20px 0 5px 0px;
}
.line-item-controls button {
	cursor: pointer;
}
button:active,
button:focus {
	border: none;
}
.question-wrap {
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
	display: block;
	margin: 20px;
	word-wrap: break-word;
	word-spacing: normal;
	font-family: Helvetica-Light, Helvetica;
	font-size: 15px;
	text-align: left;
	border: 1px solid transparent;
	text-indent: -0.5px;
	line-height: 1.313rem;
	color: #323232;
}
.header-small {
	color: #999;
	font-size: 11px;
	text-transform: uppercase;
}
.results-wrap {
	border-radius: 3px;
	margin: 10px 20px 20px;
}
.line-item-results {
	background-color: #f9f9f9;
	margin-bottom: 1px;
	padding: 5px 0 5px 20px;
}
.result-label {
	color: #a1a1a1;
	display: inline-block;
	font-size: 15px;
	margin-right: 20px;
	text-align: right;
	width: 40px;
}
.mini-label {
	font-size: 11px;
	padding: 5px 0 0;
	text-transform: uppercase;
}
.line-item-results .pill {
	border-radius: 5px;
	font-size: 20px;
	padding: 10px 0 0px 10px;
	text-align: center;
	min-width: 50px;
}
.line-item-results .updated.pill {
	background-color: #2ecc71;
	color: #fff;
}
.line-item-results .pill.yes {
	color: #2ecc71;
}
.line-item-results .pill.no {
	color: #323232;
}
/* New Selectors */
.newbutton {
	margin: 0px;
	border: none;
	border-radius: 2px;
	background-color: #2ecc71;
	color: #fff;
	padding: 10px 28px;
	font-size: 14px;
	font-family: Helvetica-Light, Helvetica;
	cursor: pointer;
	margin-left: 2.5%;
	margin-bottom: 2.5%;
}
.newbutton:hover {
	background-color: #27db73
}
.newbutton:disabled {
	opacity: 0.3;
	cursor: auto;
}
.newbutton:disabled:hover {
	background-color: #2ecc71;
}
#save-question {
	padding: 10px 36px;
	margin-bottom: 18px;
}
.line-item-controls {
	margin: 0px 32.58%;
}
.editMessage {
	margin-bottom: 10px;
	width: 100%;
}
/*End new selectors*/

/* signup view */
.signup-block-wrap {
	color: #fff;
}
.signup-block-wrap h3,
.signup-block-wrap a {
	color: #323232;
	text-decoration: none;
}
.signup-block-wrap a:hover {
	color: #2ecc71;
}
.form-section-title {
	border-top: 1px solid #a1a1a1;
	font-size: 19px;
	font-weight: 500;
	margin-top: 40px;
	padding-top: 10px;
}
.signup-input-wide {
	margin: 20px 0 0;
	width: 310px;
}
.fresh-text-input {
	display: inline-block;
	min-height: 42px;
	padding: 6px 9px;
	font-size: 1.1em;
	line-height: 28px;
	color: #262936;
	vertical-align: middle;
	background-color: #FFF;
	border: 1px solid #CCD0D6;
	border-radius: 4px;
	font-family: Helvetica-Light, Helvetica;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear,box-shadow linear;
	-webkit-transition-delay: 0.2s,0.2s;
	-moz-transition: border linear 0.2s,box-shadow linear 0.2s;
	-o-transition: border linear 0.2s,box-shadow linear 0.2s;
	transition: border linear 0.2s,box-shadow linear 0.2s;
}
.public-form-error-message {
	color: #FF0000;
	padding-top: 10px;
}
.signup-form,
.login-form {
	margin: 0 auto -38px;
	width: 400px;
	padding: 20px 50px 50px;
}
.signup-btn,
.login-btn {
	border: none;
	font-size: 18px;
	margin: 40px 0 0;
	padding: 15px 0;
	width: 331px;
}
.signup-btn:hover,
.login-btn:hover {
	background-color: #2ECC71;
	border: none;
}
/* extent topcoat components */
.topcoat-icon-button--large:hover {
	cursor: pointer;
}
.topcoat-button--quiet.active {
	color: #2ecc71;
	background-color: #fff;
	border: 1px solid #CED6D8;
	font-family: Helvetica;
	font-weight: 400;
}
#navigation li ul {

}
