body {
        background-color: #fbfbfb!important;
}
img {
        border: 0;
}
.left {
        float: left;
        text-align: inherit;
}
.right {
        float: right;
}
.hide {
        display: none;
}
.header {
        height: 26px;
}
.signin-bar {
        margin-left: 87.86%;
        text-align: right;
        padding-top: 2.5px;
}
.signin-bar a {
        color: #a1a1a1;
        cursor: pointer;
        text-decoration: none;
        font-family: Helvetica-Light;
}
.signup-bar {
        border: none; 
        border-radius: 0 0 8px 8px; 
        padding: 2.5px 5px 5px 5px; 
        background-color: #2ecc71;
}
.signup-bar a {
        color: #fff; 
        text-decoration: none;
        cursor: pointer; 
        font-family: Helvetica-Light;
}
.signup-bar a:visited {
        color: #fff;
        text-decoration: none
}
.signup-bar:hover {
        background-color: #27DB73;
}
.headerlogo {
        margin-left: -30px;
}
.page-wrap {
        overflow: hidden;
        position: relative;
}
.logo {
        width: 180px;
}
.pages {
        margin: 16px auto 0px;
}
.pages a {
        position: relative;
        text-decoration: none;
        color: #a1a1a1;
        font-family: Helvetica-Light;
        margin-left: 30px;
        letter-spacing: 1px;
        margin-right: -10px;
}
.pages a:visited {
        text-decoration: none;
        color: #a1a1a1;
}
.pages a:hover {
        color: red;
}
.motto {
        margin-top: 25px;
        padding-bottom: 15px;
        text-align: center;
}
h1 {
        margin-bottom: -12px;
        color: #2ecc71;
        font-weight: 500;
        font-size: 26px;
        font-family: Helvetica;
}
.motto p {
        color: #323232;
}
.weight {
        font-weight: 500;
}
.masthead {
        background-color: #f1f1f1;
        overflow: hidden;
}
.demo {
        max-width: 350px;
}
.free {
        font-family: Helvetica;
        font-size: 20px;
        color: #323232;
        margin-top: 50px;
        text-align: center;
}
.signup-btn {
        display: block;
        cursor: pointer; 
        border: none;
        margin: 20px auto;
        padding: 10px 30px; 
        color: #fff; 
        font-weight: 200; 
        font-size: 16px; 
        background-color: #2ecc71; 
        text-align: center;
        text-decoration: none;
        border-radius: 8px;
        font-family: Helvetica-Light;

}
.signup-btn:hover {
        background-color: #27DB73;
}
hr {
        background-color: red;
        padding: 0; margin: 0;
        height: 2px;
        border: none;
}
.feature-block {
        height: 300px;
}
.feature-triple {
        font-family: Helvetica;
        text-align: center;
}
.feature-triple img {
        display: block;
        margin: 0 auto;
        height: 90;
        padding-top: 20px;
}
.feature-triple h2 {
        color: #2ecc71;
        font-weight: 500;
        margin: 0px 0 10px;
        font-size: 26px;
        position: relative;
        display: inline-block;
        line-height: 10px;
}
.feature-triple p {
        font-family: Helvetica-Light;
        color: #a1a1a1; 
        line-height: 26px;
        max-width: 180px;
        margin: 10px 70px 0 70px;
}
.feature-triple-left {
        float: left;
        width: 320px;
}
.feature-triple-right {
        float: right;
        width: 320px;
}
.chance {
        font-family: Helvetica;
        font-size: 26px;
        color: #323232;
        text-align: center;
        padding-top: 0px;
        line-height: 0px;
}
.icon-feature {
        height: 100px;
        padding-top: 30px;
}
.icon-feature-four  {
        width: 480px;
        display: block;
        margin: 0 auto;
        text-align: center;
}
.icon-feature-left {
        float: left;
        width: 120px;
}
.icon-feature-right {
        float: right;
        width: 120px;
}
.footer {
        background-color: #eee;
        bottom: 0;
        color: #999;
        height: 36px;
        left: 0;
        font-size: 12px;
        position: absolute;
        right: 0;
        text-align: center;
        vertical-align: middle 
}
/* extent topcoat components */
.topcoat-icon-button--large:hover {
        cursor: pointer;
}
.topcoat-button--quiet.active {
        color: #16a085;
}
.fresh-text-input {
        display: inline-block;
        min-height: 35px;
        margin: 6px 24.02%%;
        padding: 6px 9px;
        font-size: 16px;
        line-height: 28px;
        color: #a1a1a1;
        vertical-align: middle;
        background-color: #FFF;
        border: 1px solid #2ecc71;
        text-align: center;
        font-family: Helvetica-Light;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border linear,box-shadow linear;
        -webkit-transition-delay: 0.2s,0.2s;
        -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
        -o-transition: border linear 0.2s,box-shadow linear 0.2s;
        transition: border linear 0.2s,box-shadow linear 0.2s;
}
.public-form-error-message {
        color: #000;
        padding-top: 10px;
}
.test {
        max-height: 293px
}