body {
        background: #fdfdfd;
        height: 100%;
}

img {
        border: 0;
}

h1 {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        text-align: center;
}

.left {
        float: left;
        text-align: inherit;
}

.right {
        float: right;
}

.hide {
        display: none;
}

.superheader {
        width: auto;
}

.header {
        height: 20px;
        position: relative;
}

.signin-btn-top {
        color: #323232;
        padding-top: 5px;
        position: absolute;
        right: 0;
        text-decoration: none;
        padding: 5px 16px;
}

.signin-btn-top:hover {
        color: #2ecc71;
        transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        -webkit-transition: color .25s ease-in-out;
        padding: 5px 16px;
}

.signup-btn-top {
        background-color: #2ecc71;
        border-radius: 0 0 5px 5px;
        color: #fff;
        padding: 5px 16px;
        position: absolute;
        right: 70px;
        text-decoration: none;
        margin-right: 10px;
}

.signup-btn-top:hover {
        background-color: #75ffaf;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
}

.headerlogo {
        width: 200px;
}

.page-wrap {
        overflow: hidden;
        height: 1250px;
        margin-top: 50px;
}

.product-button {
        margin: 0;
        float: left; 
}

.page-padded {
        margin-left: 2.813em;
}

.home {
        height: auto;
}

.masthead h1:first-child {
        font-weight: bold;
}

.home h1 {
        color: #323232;
        font-size: 28px;
        font-weight: 500;
        line-height: 25px;
        padding-bottom: 60px;
        padding-top: 10px;
}

.page h1 {
        padding: 20px 0;
        color: #2ecc71;
        font-weight: 500;
        font-size: 30px;
}

.page .page-title {
        height: auto;
        text-align: center;
}

.weight {
        font-weight: 500;
}

.masthead {
        background-position: 50% 80%;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
}

.masthead p{
        text-shadow: 0;
}

.splash{
        position: absolute;
        margin: 150px auto 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 500px;
        padding-bottom: 45px;
        text-align: center;
}

.splash p {
        color: #fff;
        font-size: 16px;
        margin: auto;
        line-height: 30px;
        width: 500px;
}

.splash p strong {
        letter-spacing: .5px;
}

.demo {
        width: inherit;
        height: 300px;
        background: url(img/demo.png);
        background-size: 350px;
        background-repeat: no-repeat;
        background-position: center;
        display: none;
}

.signup-btn {
        letter-spacing: .5px;
        display: block;
        cursor: pointer; 
        font-weight: 400;
        border: none;
        margin: 25px auto 5px;
        padding: 20px 40px;
        width: 200px; 
        color: #fff;  
        font-size: 16px; 
        background-color: #2ecc71; 
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        border: 1px solid #17994E;
}
.signup-btn:hover {
        background-color: #27DB73;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
}
.signup-btn-top:hover {
        background-color: #27DB73;
        color: #fff;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
}

.feature-triple {
        text-align: justify;
        margin: 100px auto;
}
.feature-triple img {
        display: block;
}

.vector {
        max-width: 80px;
        height: 80px;
        margin: 10px auto;
}

.feature-triple h1 {
        font-size: 22px;
}

.feature-triple p {
        font-family: Helvetica-Light, Helvetica;
        color: #3dcad7; 
        line-height: 25px;
        margin: 0.5em 2.2em 0 2.2em;
        word-spacing:-1px;
        font-size: 17px;
}
.chance {
        font-size: 30px;
        color: #303140;
        text-align: center;
        margin-top: 100px;
        font-family: 'Open Sans', sans-serif;
        line-height: 40px;
}
.subheader {
        color: #3dcad7;
        line-height: 30px;
}
.text {
        padding: 15px 0;
        margin: 0 10%;
        text-indent: 30px;
        text-align: justify;
        color: #323232;
}
.text p {
        padding-top: 15px;
}
.support {
        text-align: center;
        text-indent: 0px;
}
.best {
        font-weight: 500;
}
.best a {
        text-decoration: none;
        color: inherit;
}
.best a:visited {
        text-decoration: none;
}

.icon-feature {
        height: 36px;
        padding-top: 100px;
        padding-bottom: 30px;
}
.icon-feature-four  {
        width: 480px;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;

}
.icon-feature-left {
        float: left;
        width: 120px;
}

.social-media {
        height: 35px;
        border-radius: 100%;
        border: 1px solid transparent;
        margin: 100px 0;

}

.social-media:hover {
        border-radius: 100%;
        border: 1px solid #fff;
        opacity: .5;
        transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -webkit-transition: .25s ease-in-out;
}

.footer {
        background-color: #eee;
        bottom: 0;
        position: fixed;
        color: #999;
        left: 0;
        font-size: 12px;
        right: 0;
        text-align: center;
}

#funnel {
        height: 50px;
        margin: auto;
        width: 584px;
}

.home .footer {
        height: 100px;
        vertical-align: bottom;
        padding: 10px;
}
.page .footer {
        padding-top: 18px;
        padding-bottom: 18px;
}

#rackspace {
        height: 40px;
        width: auto;
        margin-top: 16px;
        padding-bottom: 15px;
}
#copyright {
        padding-bottom: 10px;
}

/* extent topcoat components */
.topcoat-icon-button--large:hover {
        cursor: pointer;
}
.topcoat-button--quiet.active {
        color: #16a085;
}
#secondBar {
        background: #323232;
        width: 100%;
        border-top: 5px solid #2ecc71;
        height: 670px;
}
#see {
        padding-bottom: 40px;
        margin-top: 50px;
}
#double {
        width: 800px;
        height: 300px;
        margin: auto;
}
#double-left {
        width: 400px;
        height: 100%;
        float: left;
}
#double-right {
        width: 400px;
        height: 100%;
        float: left;
}
.analytics-container {
        width: auto;
        margin: auto;
        text-align: center;
}
.analytics-icons {
        height: 110px;
        width: auto;
}
#double h1 {
        color: #2ecc71;
        text-align: center;
        font-size: 22px;
}
#double p {
        color: #3dcad7;
        margin: auto;
        width: 85%;
        font-size: 17px;
        text-align: center;
        margin-top: 16px;
        line-height: 25px;
}

.commentBox {
        width: 100%;
}
#commentBoxContainer {
        width: 40%;
        margin: auto;
}
#comment {
        height: 120px;
}
.fresh-text-input {
        display: inline-block;
        min-height: 42px;
        padding: 6px 0 6px 10px;
        font-size: 1.1em;
        line-height: 28px;
        color: #262936;
        width: calc(100% - 10px);
        width: -webkit-calc(100% - 10px);
        width: -moz-calc(100% - 10px);
        width: -o-calc(100% - 10px);
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #CCD0D6;
        border-radius: 4px;
        margin-right: 10px;
        font-family: Helvetica-Light, Helvetica;
        text-align: left;
        /* mobile safari fixes */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
        background: -o-linear-gradient(bottom, #fff 0%);
        background: -moz-linear-gradient(bottom, #fff 0%);
        background: -webkit-linear-gradient(bottom, #fff 0%);
        background: -ms-linear-gradient(bottom, #fff 0%);
        background: linear-gradient(to bottom, #fff 0%);
        -webkit-transition: border linear,box-shadow linear;
        -webkit-transition-delay: 0.2s,0.2s;
        -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
        -o-transition: border linear 0.2s,box-shadow linear 0.2s;
        transition: border linear 0.2s,box-shadow linear 0.2s;
}
#submit {
        border: none !important;
        font-size: 18px;
        margin: 40px auto 0;
        padding: 15px 0;
        width: 100%;
        box-shadow: 1px 1px 1px #444;
        cursor: pointer;
        background-color: #2ecc71;
        color: #fff;
        border-radius: 3px;
        /* mobile safari fixes */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2ecc71));
        background: -o-linear-gradient(bottom, #2ecc71 0%);
        background: -moz-linear-gradient(bottom, #2ecc71 0%);
        background: -webkit-linear-gradient(bottom, #2ecc71 0%);
        background: -ms-linear-gradient(bottom, #2ecc71 0%);
        background: linear-gradient(to bottom, #2ecc71 0%);
}
#submit:hover {
        background-color: #27db73;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
        -webkit-appearence: none;
        border: none !important;
}

.pricing-container {
        height: 290px;
        margin-top: 20px;
}

.pricing {
        height: 100%;
        float: left;
        text-align: center;
        width: 24.9%;
}

.pricing-border {
        border-right: 1px solid #323232;
}

.pricing h1 {
        padding: 0 !important;
        font-weight: bold;
        color: #323232;
}

.pricing p {
        margin: 0 !important;
        color: #323232;
}

.buy-btn {
        letter-spacing: .5px;
        display: block;
        cursor: pointer; 
        border: none;
        padding: 7px 0px;
        margin: auto;
        width: 70%; 
        color: #fff;  
        font-size: 16px; 
        background-color: #2ecc71; 
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        border: 1px solid #17994E;
}
.buy-btn:hover {
        background-color: #27DB73;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
}

.nav {
        color: #7cbf99;
        text-decoration: none;
        font-size: 13px;
}