body {
        background: #fdfdfd;
        height: 100%;
}

h1 {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        text-align: center;
        line-height: 35px !important;
        color: #3dcad7;
}

.left {
        float: left;
}

.right {
        float: right;
}

.hide {
        display: none;
}

.signin-btn-top {
        color: #323232;
        padding-top: 5px;
        float: right;
        text-decoration: none;
        padding: 5px 16px;
}

.signin-btn-top:hover {
        color: #2ecc71;
        transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        -webkit-transition: color .25s ease-in-out;
}

.signup-btn-top {
        background: -webkit-gradient(#2ecc71,#16ac56); 
        background: -o-linear-gradient(#2ecc71,#16ac56); 
        background: -moz-linear-gradient(#2ecc71,#16ac56); 
        background: -webkit-linear-gradient(#2ecc71,#16ac56); 
        background: -ms-linear-gradient(#2ecc71,#16ac56); 
        background: linear-gradient(#2ecc71,#16ac56); 
        background-color: #2ecc71;
        border: 1px solid #16ac56;
        border-top: 0;
        border-radius: 0 0 5px 5px;
        color: #fff;
        padding: 5px 16px;
        float: right;
        text-decoration: none;
        margin-right: 10px;
}

.signup-btn-top:hover {
        box-shadow: 0 0 1px #444;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
}

#logo {
        height: 30px;
        margin-bottom: 5px;
}

#logo-icon {
        height: 40px;
}

#logo-icon-line {
        height: 80px;
        margin: 10px;
        margin-bottom: 0;
}

.logo-line {
        height: 60px;
        margin-bottom: 10px;
}

.logo-container {
        height: 80px;
        width: 200px;
}

.logo-container img {
        margin: 10px 0 0 0px;
}

.signin-container {
        height: 80px;
        width: 200px;
        float: right;
}

.page-wrap {
        margin-top: 50px;
        height: auto;
}

.product-button {
        margin: 0;
        float: left; 
}

.page-padded {
        margin-left: 2.813em;
}


.page-wrap h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 25px;
        padding-bottom: 20px;
        padding-top: 10px;
}

.page h1 {
        color: #3dcad7;
        font-weight: 500;
        font-size: 30px;
}

.page .page-title {
        height: auto;
        text-align: center;
}

.weight {
        font-weight: 500;
}

.masthead {
        height: 100%;
        width: 100%;
}

.masthead h1:first-child {
        font-weight: bold;
        color: #2ecc71;
}

.splash{
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        height: 500px;
        padding-bottom: 45px;
        text-align: center;
}

.splash p {
        color: #fff;
        font-size: 16px;
        margin: auto;
        line-height: 30px;
        width: 500px;
}

.splash p strong {
        letter-spacing: .5px;
}

.demo {
        width: inherit;
        height: 300px;
        background: url(img/demo.png);
        background-size: 350px;
        background-repeat: no-repeat;
        background-position: center;
        display: none;
}

.signup-btn {
        letter-spacing: .5px;
        display: block;
        cursor: pointer; 
        font-weight: 400;
        border: none;
        margin: 5px auto 25px;
        padding: 15px 20px;
        width: 200px; 
        color: #fff;  
        font-size: 16px; 
        background: -webkit-gradient(#2ecc71,#16ac56); 
        background: -o-linear-gradient(#2ecc71,#16ac56); 
        background: -moz-linear-gradient(#2ecc71,#16ac56); 
        background: -webkit-linear-gradient(#2ecc71,#16ac56); 
        background: -ms-linear-gradient(#2ecc71,#16ac56); 
        background: linear-gradient(#2ecc71,#16ac56); 
        background-color: #2ecc71;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        border: 1px solid #16ac56;
}
.signup-btn:hover {
        box-shadow: 0 0 1px #444;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
}
.signup-btn-top:hover {
        background-color: #27DB73;
        color: #fff;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
}

.feature-triple {
        text-align: justify;
        margin: 50px auto;
}

.feature-triple img {
        display: block;
}

.vector {
        max-width: 300px;
        height: 150px;
        margin: 10px auto;
}

.feature-triple h1 {
        font-size: 22px;
}

.feature-triple p {
        font-family: Helvetica-Light, Helvetica;
        color: #323232; 
        line-height: 25px;
        margin: 0.5em 2.2em 0 2.2em;
        word-spacing:-1px;
}
.chance {
        font-size: 30px;
        color: #303140;
        text-align: center;
        margin-top: 100px;
        font-family: 'Open Sans', sans-serif;
        line-height: 40px;
}
.subheader {
        color: #323232;
        line-height: 30px;
        width: 600px;
        text-align: justify;
        margin: auto;
}
.text {
        margin: 0 10%;
        text-indent: 30px;
        text-align: justify;
        color: #323232;
}
.text p {
        padding-top: 15px;
}
.support {
        text-align: center;
        text-indent: 0px;
}
.best {
        font-weight: 500;
}
.best a {
        text-decoration: none;
        color: inherit;
}
.best a:visited {
        text-decoration: none;
}

.icon-feature {
        height: 36px;
        padding-top: 100px;
        padding-bottom: 30px;
}
.icon-feature-four  {
        width: 480px;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;

}
.icon-feature-left {
        float: left;
        width: 120px;
}

.social-media {
        height: 35px;
        border-radius: 100%;
        border: 1px solid transparent;
        margin-bottom: 10px;

}

.footer .social-media {
        height: 25px;
}

.footer .icon-container {
        width: 20%;
        height: 0px;
}

.social-media:hover {
        border-radius: 100%;
        border: 1px solid #fff;
        opacity: .5;
        transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -webkit-transition: .25s ease-in-out;
}

.footer {
        background-color: #eee;
        font-size: 12px;
        text-align: center;
        border-top: 1px dotted #323232;
        height: 170px;
        vertical-align: bottom;
        padding: 10px;
        padding-bottom: 18px;
}

.footer .nav {
        text-align: center;
        
}

.nav-container {
        margin: auto;
        display: inline-block;
        margin: 15px 0px;
        float: left;
}

.link-container {
        width: 266px;
        margin: auto;
}

.funnel {
        margin: 50px auto 0;
        width: 584px;
        height: 120px;
        text-align: center;
}

.funnel a {
        float: left;
}

#rackspace {
        height: 40px;
        width: auto;
        margin-top: 16px;
        padding-bottom: 15px;
}
#copyright {
        padding-bottom: 10px;
}

/* extent topcoat components */
.topcoat-icon-button--large:hover {
        cursor: pointer;
}
.topcoat-button--quiet.active {
        color: #16a085;
}
#secondBar {
        background: #323232;
        width: 100%;
        border-top: 5px solid #2ecc71;
}
#see {
        padding-bottom: 40px;
        margin-top: 50px;
}

.bottom-funnel {
        width: 504px;
        margin: auto;
}
#double {
        width: 800px;
        height: 300px;
        margin: auto;
}
#double-left {
        width: 400px;
        height: 100%;
        float: left;
}
#double-right {
        width: 400px;
        height: 100%;
        float: left;
}
.analytics-container {
        width: auto;
        margin: auto;
        text-align: center;
}
.analytics-icons {
        height: 110px;
        width: auto;
        margin: 40px auto;
}
#double h1 {
        text-align: center;
        font-size: 22px;
}
#double p {
        color: #fff;
        margin: auto;
        width: 85%;
        font-size: 17px;
        text-align: center;
        margin-top: 16px;
        line-height: 25px;
}

.commentBox {
        width: 100%;
}
#commentBoxContainer {
        width: 40%;
        margin: 30px auto;
}
#comment {
        height: 120px;
}

.what {
        margin-top: 50px;
}

.wait {
        text-align: center;
        margin-top: 0;
        font-size: 12px;
        color: #a1a1a1;
}

.fresh-text-input {
        display: inline-block;
        min-height: 42px;
        padding: 0 0 0 10px;
        font-size: 1.1em;
        line-height: 28px;
        color: #262936;
        width: calc(100% - 10px);
        width: -webkit-calc(100% - 10px);
        width: -moz-calc(100% - 10px);
        width: -o-calc(100% - 10px);
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #CCD0D6;
        border-radius: 4px;
        margin-right: 10px;
        font-family: Helvetica-Light, Helvetica;
        text-align: left;
        /* mobile safari fixes */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
        background: -o-linear-gradient(bottom, #fff 0%);
        background: -moz-linear-gradient(bottom, #fff 0%);
        background: -webkit-linear-gradient(bottom, #fff 0%);
        background: -ms-linear-gradient(bottom, #fff 0%);
        background: linear-gradient(to bottom, #fff 0%);
        -webkit-transition: border linear,box-shadow linear;
        -webkit-transition-delay: 0.2s,0.2s;
        -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
        -o-transition: border linear 0.2s,box-shadow linear 0.2s;
        transition: border linear 0.2s,box-shadow linear 0.2s;
}
#submit {
        font-size: 18px;
        margin: 40px auto 0;
        padding: 0;
        width: 100%;
        cursor: pointer;
        background-color: #2ecc71;
        border: 1px solid #17994E;
        color: #fff;
        border-radius: 3px;
        background: -webkit-gradient(#2ecc71,#16ac56); 
        background: -o-linear-gradient(#2ecc71,#16ac56); 
        background: -moz-linear-gradient(#2ecc71,#16ac56); 
        background: -webkit-linear-gradient(#2ecc71,#16ac56); 
        background: -ms-linear-gradient(#2ecc71,#16ac56); 
        background: linear-gradient(#2ecc71,#16ac56); 
        background-color: #2ecc71;
}
#submit:hover {
        background-color: #27db73;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
        -webkit-appearence: none;
        border: none !important;
}

.pricing-container {
        height: 290px;
        margin-top: 20px;
}

.pricing {
        height: 100%;
        float: left;
        text-align: center;
        width: 24.9%;
}

.pricing-border {
        border-right: 1px solid #323232;
}

.pricing .second {
        color: #323232 !important;
}
.pricing h1 {
        padding: 0 !important;
        font-weight: normal !important;
        color: #3dcad7 !important;
}

.pricing p {
        margin: 0 !important;
        color: #323232;
}
.faq {
        width: 55%;
        margin: auto;
        text-align: justify;
}
.faq h1:first-child {
        color: #2ecc71;
}
.faq h1 {
        margin-top: 60px;
        color: #3dcad7;
}

.numbers {
        font-size: 35px;
}

.mo {
        color: #3dcad7;
}
.buy-btn {
        letter-spacing: .5px;
        display: block;
        cursor: pointer; 
        border: none;
        padding: 7px 0px;
        margin: auto;
        width: 70%; 
        color: #fff;  
        font-size: 16px; 
        background: -webkit-gradient(#2ecc71,#16ac56); 
        background: -o-linear-gradient(#2ecc71,#16ac56); 
        background: -moz-linear-gradient(#2ecc71,#16ac56); 
        background: -webkit-linear-gradient(#2ecc71,#16ac56); 
        background: -ms-linear-gradient(#2ecc71,#16ac56); 
        background: linear-gradient(#2ecc71,#16ac56); 
        background-color: #2ecc71;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        border: 1px solid #16ac56;
}
.buy-btn:hover {
        box-shadow: 0 0 1px #444;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
}

.nav {
        color: #2ecc71;
        text-decoration: none;
        font-size: 13px;
        margin: 0 10px;
        float: left;
}


.scroll {
        position: absolute;
        top: 90%;
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #2ecc71;
        text-decoration: none;
        margin-bottom: -20px;
}

.scroll:hover {
        text-decoration: underline;
}

.faq-scroll {
        position: relative;
        width: auto;
        text-align: left;
        margin-bottom: 5px;
        font-size: 16px;

}

ol {
        color: #2ecc71;
        margin-bottom: 100px;
        padding-bottom: 50px;
        border-bottom: 1px solid #2ecc71;
}
.scroll-container {
        position: absolute;
        top: 95%;
        width: 100%;
        right: 0;
        left: 0;
}

.icon-container {
        width: 50%;
        margin: auto;
}

.icon-four {
        width: 25%;
        float: left;
        text-align: center;
}

.icon-four a {
        margin: auto;
}

.section-container {
        height: 300px;
        width: 100%;
}

.section-height {
        height: 100%;
        text-align: center;
}

.section-height p {
        line-height: 30px;
}

.section-height h1 {
        color: #3dcad7 !important;
        font-weight: normal !important;
}

.section-left {
        float: left !important;
}

.section-right {
        float: right !important;
}

.section-left h1 {
        text-align: left;
}

.section-left p {
        text-align: left;
}

.section-right h1 {
        text-align: right;
}

.section-right p {
        text-align: right;
}

#product:first-child h1 {
        font-weight: bold;
        color: #2ecc71;
}
.terms p {
        font-family: serif;
        text-align: justify;
        margin: 25px 0;
}

.terms table {
        border-spacing: 0;
}

.terms th {
        border: 1px solid #000;
}

.terms td {
        border: 1px solid #000;
}

.terms th div {
        padding: 0 5px;
}

.terms td div {
        padding: 0 5px;
}

.terms h3 {
        padding-top: 50px;
        color: #2ecc71;
}

.terms ul {
        font-family: serif;
}