body {
        background: url('img/texture.png');
        background-size: 350px;
}
img {
        border: 0;
}
.left {
        float: left;
        text-align: inherit;
}
.right {
        float: right;
}
.hide {
        display: none;
}
.superheader {
        background-color: #2ecc71;
        padding-bottom: 20px;
        box-shadow: 2px 2px 1px #000;
        width: auto;
}
.header {
        height: 1.625em;
}
.signin-bar {
        margin-left: 86.92%;
        text-align: right;
        padding-top: 2.5px;
}
.signin-bar a {
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        font-family: Helvetica-Light, Helvetica;
}
.signin-bar a:hover {
        color: #75ffaf;  
}
.signup-bar a {
        float: left;
        text-align: center;
        border: none;
        border-radius: 0 0 8px 8px;
        padding: 2.5px 5px 5px 5px;
        height: 18px;
        width: 60px;
        background-color: #fff;
        color: #303140; 
        text-decoration: none;
        cursor: pointer; 
}
.signup-bar a:visited {
        color: #303140;
        text-decoration: none
}
.signup-bar a:hover {
        background-color: #75ffaf;
}
.headerlogo {
        margin-left: -30px;
}
.page-wrap {
        overflow: hidden;
        position: relative;
}
.logo {
        width: 180px;
        margin-bottom: 15px;
        float: left;
}
.pages {
        margin: 0.813em 13.5em 0px;
        text-align: center;
}
.pages a {
        position: relative;
        text-decoration: none;
        color: #ffffff;
        font-family: Helvetica-Light, Helvetica;
        letter-spacing: 1px;
}
.pages a:visited {
        text-decoration: none;
        color: #ffffff;
}
.pages a:hover {
        color: #75ffaf;
}
.page-padded {
        margin-left: 2.813em;
}
.motto {
        padding-bottom: 15px;
        text-align: center;
}
h1 {
        color: #2ecc71;
        font-weight: 500;
        font-size: 30px;
        font-family: Helvetica-Light, Helvetica;
        margin: 0;
        padding-top: 30px;
}
.motto p {
        color: #303140;
        font-size: 20px;
        width: 350px;
        margin: auto;
        padding-top: 7px;
        height: auto;
}
.weight {
        font-weight: 500;
}
.masthead {
        background: linear-gradient(#fbfbfb, #eaeaea);
        height: auto;
        box-shadow: 0px 2px 6px #7d7d7d;
}
.demo {
        width: inherit;
        height: 300px;
        background: url(img/demo.png);
        background-size: 350px;
        background-repeat: no-repeat;
        background-position: center;
}
.free {
        font-size: 20px;
        color: #303140;
        margin-top: 90px;
        text-align: center;
}
.signup-btn {
        display: block;
        cursor: pointer; 
        border: none;
        margin: 20px auto;
        padding: 8px 26px;
        width: 100px; 
        color: #fff;  
        font-size: 18px; 
        background-color: #2ecc71; 
        text-align: center;
        text-decoration: none;
        border-radius: 8px;
}
.signup-btn:hover {
        background-color: #27DB73;
}
.feature-block {
        height: auto;
}
.feature-triple {
        text-align: center;
}
.feature-triple img {
        display: block;
        padding-top: 20px;
}
.vector {
        height: 190px;
        margin: -25px auto -29px
}
.clock {
        margin: 0 auto;
}
.feature-triple h1 {
        margin-bottom: 12px;
        padding-top: 10px;
}
.feature-triple p {
        font-family: Helvetica-Light, Helvetica;
        color: #a1a1a1; 
        line-height: 25px;
        margin: 0.5em 2.2em 0 2.2em;
        word-spacing:-1px;
        font-size: 20px;
}
.chance {
        font-family: Helvetica;
        font-size: 20px;
        color: #303140;
        text-align: center;
        margin-top: 60px;
}
.icon-feature {
        height: 36px;
        padding-top: 30px;
        padding-bottom: 30px;
}
.icon-feature-four  {
        width: 480px;
        display: block;
        margin: 0 auto;
        text-align: center;
}
.icon-feature-left {
        float: left;
        width: 120px;
}
.social-media {
        height: 35px;
}
.footer {
        background-color: #eee;
        bottom: 0;
        color: #999;
        height: 50px;
        left: 0;
        font-size: 12px;
        right: 0;
        text-align: center;
        vertical-align: bottom; 
}
.footer p {
        padding-top: 18px;
        margin-top: 0;
}
.bottom {
        width: auto;
}
/* extent topcoat components */
.topcoat-icon-button--large:hover {
        cursor: pointer;
}
.topcoat-button--quiet.active {
        color: #16a085;
}
/*text input*/
/*.fresh-text-input {
        display: inline-block;
        min-height: 35px;
        margin: 6px 24.02%;
        padding: 6px 9px;
        font-size: 16px;
        line-height: 28px;
        color: #a1a1a1;
        vertical-align: middle;
        background-color: #FFF;
        border: 1px solid #2ecc71;
        text-align: center;
        font-family: Helvetica-Light;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border linear,box-shadow linear;
        -webkit-transition-delay: 0.2s,0.2s;
        -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
        -o-transition: border linear 0.2s,box-shadow linear 0.2s;
        transition: border linear 0.2s,box-shadow linear 0.2s;
}
.public-form-error-message {
        color: #000;
        padding-top: 10px;
}*/