/*Media Queries*/

/*mobile portrait*/
    @media only screen and (max-width: 767px) {
        .icon-feature-left {
                width: 75px;
        }
        .header {
                padding-top: 20px;
        }
        .signin-btn-top {
                position: relative;
                float: right;
                margin-right: 23%;
                font-size: 18px;
                padding: 5px 10px 10px 10px;
                border-radius: 8px;
                background-color: transparent;
        }
        .signup-btn-top {
                position: relative;
                float: left;
                margin-left: 23%;
                right: 0;
                border-radius: 8px;
                padding: 5px 10px 10px 10px;
                font-size: 18px;
        }
        .headerlogo {
                margin: 0 auto;
        }
        .pages {
                margin: 0 auto;
                text-align: center;
                font-size: 18px;
        }
        .page-padded {
                margin-left: 1.025em;
        }
        .logo {
                margin: 0 auto;
                padding: 25px 60px 30px 60px;
        }
        .motto p {
                width: auto;
        }
        .motto h1 {
                line-height: normal;
        }
        .free {
                margin-top: 5px;
                padding-bottom: 40px;
        }
        .chance {
                padding-bottom: 45px;
        }
        .home h1 {
                line-height: normal 
        }
        .feature-triple p {
                padding-bottom: 30px;
        }
        .icon-feature {
                padding-top: 50px;
        }    
    }
/*mobile landscape*/
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .icon-feature-left {
                width: 105px;
        }
        .signin-btn-top {
                margin-right: 30%;
                right: 3.5px;
        }
        .signup-btn-top {
                margin-left: 30%;
        }
        .headerlogo {
                margin: 0 auto;
        }
        .pages {
                margin: 0 auto;
                text-align: center;
        }
        .logo {
                margin: 0 auto;
                padding: 15px 120px 30px 120px;
        }
}
/*tablet!*/
    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .feature-triple p {
                font-size: 16px;
        }
        .signin-btn-top {
                font-size: 18px;
                padding: 5px 10px 10px 10px;
                border-radius: 0 0 8px 8px;
                background-color: transparent;
        }
        .signup-btn-top {
                font-size: 18px;
                border-radius: 0 0 8px 8px;
                padding: 5px 10px 10px 10px;
                right: 80px;
        }
        .pages {
                font-size: 18px;
                margin: 0 auto;
                padding: 10px 200px 0 200px;
        }
        .page-padded {
                margin-left: 1.5em;
        }
        .headerlogo {
                margin-left: 0px;
        }
        .home h1 {
                line-height: normal
        }
}
/*logo issue!*/
    @media only screen and (min-width: 960px) and (max-width: 1030px) {
        .headerlogo {
                margin-left: -10px
        }
}
/*high-res!*/
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 301dpi) { 
        .demo {
            width: inherit;
            height: 300px;
            background-size: 350px;
            background-repeat: no-repeat;
            background-position: center;
            background: url(img/demo@2x.png);
        }
}
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 244dpi) and (max-resolution: 300dpi)  {
        .demo {
            background: url(img/demo244.png);
            width: inherit;
            height: 300px;
            background-size: 350px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }    
    @media only screen and (-webkit-min-device-pixel-ratio: 0.75), only screen and (max-resolution: 149dpi) {
        .demo {
            background: url(img/demo72.png);
            width: inherit;
            height: 300px;
            background-size: 350px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }  
    @media only screen and (max-width: 767px) and (min-resolution: 301dpi), only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
        .demo {
            width: inherit;
            height: 300px;
            background-size: 300px;
            background-repeat: no-repeat;
            background-position: center;
            background: url(img/demo@2x.png);
        }
    }
    @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 767px) and (min-resolution: 244dpi) and (max-resolution: 300dpi)  {
        .demo {
            background: url(img/demo244.png);
            width: inherit;
            height: 300px;
            background-size: 300px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }    
    @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 0.75), only screen and (max-width: 767px) and (max-resolution: 149dpi) {
        .demo {
            background: url(img/demo72.png);
            width: inherit;
            height: 300px;
            background-size: 300px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }  

/*Safari-only*/
/*@media only screen and (max-width: 959px) {
    :root .signin-btn-top {
        font-size: 17px;
    }
}*/

