/*Media Queries*/
/*mobile portrait*/
    @media only screen and (max-width: 767px) {
        .icon-feature-left {
            width: 75px;
        }

        .signin-btn-top {
            position: relative;
            float: right;
            margin-right: 23%;
            font-size: 18px;
            padding: 5px 10px 10px 10px;
            border-radius: 8px;
            background-color: transparent;
        }
        .signup-btn-top {
            position: relative;
            float: left;
            margin-left: 23%;
            right: 0;
            border-radius: 8px;
            padding: 5px 10px 10px 10px;
            font-size: 18px;
        }
        .page-padded {
            margin-left: 1.025em;
        }
        .chance {
            padding-bottom: 45px;
        }
        
        .feature-triple {
            text-align: center;
        }

        .feature-triple img {
            margin-top: 40px;
        }

        .feature-triple p {
            padding-bottom: 30px;
        }
        .icon-feature {
            padding-top: 50px;
        }    

        #settingUp {
            margin-top: 40px;
        }

        #commentBoxContainer {
            width: 100%;
        }

        #logo {
            margin-top: 5px;
        }

        .signin-btn-top {
            margin-top: 20px;
        }

        .signup-btn-top {
            margin-top: 20px;
        }

        .logo-container {
            margin: auto;
        }

        .signin-container {
            width: 100%;
        }

        .page-wrap {
            margin-top: 100px;
        }

        .funnel {
            width: 282px;
            height: 200px;
        }

        .funnel a {
            margin-left: 0 !important;
        }

        .faq {
            width: 75%
        }

        .pricing {
            width: 100%;
            height: 60%;
            border-right: 0;
        }

        .pricing-container {
            height: 600px;
        }

        #custom-order {
            color: transparent;
        }

        .icon-container {
            width: 80%;
        }
        .footer .icon-container {
            width: 60%;
        }

        .splash {
            top: 10%;
        }

        .subheader {
            width: 90%;
        }

        .section-height {
            height: initial;
        }

        .section-height p {
            margin-bottom: 100px;
            text-align: justify;
        }

        .section-height h1 {
            text-align: center;
        }

    }
/*mobile landscape*/
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .icon-feature-left {
            width: 105px;
        }
        .icon-feature-four {
            width: 420px;
        }
        .signin-btn-top {
            margin-right: 30%;
            right: 3.5px;
        }
        .signup-btn-top {
            margin-left: 30%;
        }
        .pages {
            margin: 0 auto;
            text-align: center;
        }

        #double {
            width: 100%;
            height: 600px;
        }
        #double-right {
            height: 55%;
            width: 100%;
        }
        #double-left {
            height: 55%;
            width: 100%
        }
        #double p {
            width: 360px;
        }
        .faq {
            width: 85%
        }
}

@media only screen and (max-width: 480px) {
    #double {
        width: 320px;
        height: 600px;
    }
    #double-right {
        height: 55%;
        width: 100%;
    }
    #double-left {
        height: 55%;
        width: 100%;
    }
    .icon-feature-four {
        width: 304px;
    }

    .logo-line {
        height: 50px;
    }

    #logo-icon-line {
        margin-bottom: 20px;
    }

    .home h1 {
        padding-bottom: 50px;
    }

    .signup-btn-top {
        margin-left: 22%;
    }

    .signin-btn-top {
        margin-right: 22%;
    }

    .faq {
            width: 85%
        }
}
/*tablet!*/
    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .feature-triple p {
            font-size: 16px;
        }
        .signin-btn-top {
            font-size: 18px;
            padding: 5px 10px 10px 10px;
            border-radius: 0 0 8px 8px;
            background-color: transparent;
        }

        .pages {
            font-size: 18px;
            margin: 0 auto;
            padding: 10px 200px 0 200px;
        }
        .page-padded {
            margin-left: 1.5em;
        }

        #double {
            width: 740px;
            height: 300px;
        }
        #thirdBar {
            height: 500px;
        }
        #double-right {
            height: 30%;
            width: 370px;
        }
        #double-left {
            height: 30%;
            width: 370px;
        }
        #button-padding {
            padding-right: 15px;
        }
        .faq {
            width: 65%
        }
/*odd spacing fix*/
@media only screen and (min-width: 810px) and (max-width: 1080px) {
    #button-padding {
        padding-right: 0px;
        width: 350px;
    }
    .faq {
        width: 65%;
    }
}


/*Safari-only*/
/*@media only screen and (max-width: 959px) {
    :root .signin-btn-top {
        font-size: 17px;
    }
}*/

