body {
        background: url('img/texture.png');
        background-size: 350px;
}
img {
        border: 0;
}
.left {
        float: left;
        text-align: inherit;
}
.right {
        float: right;
}
.hide {
        display: none;
}
.superheader {
        background-color: #2ecc71;
        padding-bottom: 20px;
        box-shadow: 2px 2px 1px #000;
        width: auto;
}
.header {
        height: 1.625em;
}
.signin-bar {
        margin-left: 86.92%;
        text-align: right;
        padding-top: 2.5px;
}
.signin-bar a {
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        font-family: Helvetica-Light, Helvetica;
}
.signin-bar a:hover {
        color: #75ffaf;  
}
.signup-bar a {
        float: left;
        text-align: center;
        border: none;
        border-radius: 0 0 8px 8px;
        padding: 2.5px 5px 5px 5px;
        height: 18px;
        width: 60px;
        background-color: #fff;
        color: #303140; 
        text-decoration: none;
        cursor: pointer; 
}
.signup-bar a:visited {
        color: #303140;
        text-decoration: none
}
.signup-bar a:hover {
        background-color: #75ffaf;
}
.headerlogo {
        margin-left: -30px;
}
.logo {
        width: 180px;
        margin-bottom: 15px;
        float: left;
}
.pages {
        margin: 0.813em 13.5em 0px;
        text-align: center;
}
.pages a {
        position: relative;
        text-decoration: none;
        color: #ffffff;
        font-family: Helvetica-Light, Helvetica;
        letter-spacing: 1px;
}
.pages a:visited {
        text-decoration: none;
}
.pages a:hover {
        color: #75ffaf;
}
.page-padded {
        margin-left: 2.813em;
}
.current-page {
        color: #75ffaf;
}
.current-page:visited {
        color: #75ffaf;
}
.page-wrap {
        overflow: hidden;
        position: relative;
}
.page-title {
        height: auto;
        text-align: center;
}
h1 {
        margin: 0;
        padding: 30px 0 30px 0;
        color: #2ecc71;
        font-weight: 500;
        font-size: 30px;
        font-family: Helvetica-Light, Helvetica;
}
.masthead {
        background: linear-gradient(#fbfbfb, #eaeaea);
        height: auto;
        box-shadow: 0px 2px 6px #7d7d7d;
}
.text {
        padding: 15px 0;
        margin: 0 10%;
        text-indent: 30px;
        text-align: justify;
        color: #323232;
}
.text p {
        padding-top: 15px;
}
.support {
        text-align: center;
        text-indent: 0px;
}
.best {
        font-weight: 500;
}
.best a {
        text-decoration: none;
        color: inherit;
}
.best a:visited {
        text-decoration: none;
}
.icon-feature {
        height: 36px;
        padding-bottom: 30px;
}
.icon-feature-four  {
        width: 480px;
        display: block;
        margin: 0 auto;
        text-align: center;
}
.icon-feature-left {
        float: left;
        width: 120px;
}
.footer {
        background-color: #eee;
        bottom: 0;
        color: #999;
        left: 0;
        font-size: 12px;
        right: 0;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 18px;
        position: fixed;
}
@media only screen and (max-width: 959px) {
        .footer {
                position: relative;
        }
}