<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>UserBallot | Ask simple yes or no questions and get answers</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="styles/grid/skeleton.css">
    <link rel="stylesheet" href="styles/components/topcoat-desktop-light.css">
    <link rel="stylesheet" href="styles/mainnew.css">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/Check Icon.png">
    <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->

</head>

<body>
    <div class="container">
        <div class="header">
            <div class="signin-bar left"><a href="http://app.userballot.com/#/login">sign in</a></div>
            <div class="signup-bar right"><a href="http://app.userballot.com/#/signup">sign up</a></div> 
        </div>
        <div class="headerlogo">
            <a href="http://userballot.com/">
            <img class="logo left" src="img/logo.png" alt=""></a>
        </div>
        <div class="pages">
            <a href="http://userballot.com/ourproduct/">our product</a>
            <a href="file:///Users/alexanderross/Documents/ourstory.html">our story</a>
            <a href="http://userballot.com/support/">support</a>
        </div>
    </div>  
    <div class="row"></div>    
    <div class="page-wrap">        
        <div class="twelve columns alpha">
            <div class="motto">
                <h1>Make better decisions.</h1>
                <p>Find the <span class="weight">pulse</span> of your users through simple yes and no questions.</p>
            </div>
        </div>      
        <!-- masthead -->
        <div class="masthead">
            <div class="container content-wrap">
                <div class="sixteen columns">
                    <div class="row">
                        <div class="eight columns alpha omega test">
                            <img class="demo" src="img/screens.png" alt=""/>
                        </div>
                        <div class="eight columns alpha omega">
                            <p class="free">Signing up is <span class="weight">free</span> and always will be!</p>
                            <!--<a href="http://app.userballot.com/#/signup" style="" id="save-question" class="signup-btn">Get Started!</a>-->
                            <form name="signup" ng-submit="register()" class="signup-form css-form" novalidate>
                                <!-- general error message -->
                                <!--<div class="public-form-error-message">
                                {{error}}
                                </div>-->
                                <!-- email address -->
                                <input type="text" class="fresh-text-input signup-input-wide"  ng-model="email" name="uEmail" required placeholder="Email Address" /><br/>
                                <!-- error message -->
                                <!--<div ng-show="emailError" class="public-form-error-message">
                                {{emailError}}
                                </div>-->
                                <!-- password -->
                                <input type="password" class="fresh-text-input signup-input-wide"  ng-model="password" required placeholder="Password" /><br/>
                                <input type="submit" class="signup-btn" ng-disabled="signup.$invalid" name="submit" value="Sign Up" />
                            </form>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--- red line -->
        <hr></hr>   
        <!-- The container is a centered 960px -->
        <div class="container content-wrap feature-block">
                <div class="row">
                    <div class="feature-triple">
                        <div class="feature-triple-left">
                            <img src="img/scale.png" alt="">
                            <h2>Simplicity is key.</h2>
                            <p>Direct answers help you better understand what they really want.</p>
                        </div>
                        <div class="feature-triple-left">
                            <img src="img/chart.png" alt="">
                            <h2>Answers in real-time.</h2>
                            <p>Actually see answers the second someone answers a question.</p>
                        </div>
                        <div class="feature-triple-right">
                            <img src="img/gauge.png" alt="">
                            <h2>Working in minutes.</h2>
                            <p>Just copy and paste a small piece of code and you're done!</p>
                        </div>
                    </div>
                </div>
        </div>       
        <div class="container chance">
            <p>Don't leave anything to chance.</p>
        </div>         
        <div class="container content-wrap icon-feature">
            <div class="sixteen columns">
                <div class="row">
                    <div class="icon-feature-four">
                        <div class="icon-feature-left">
                            <a href="https://www.facebook.com/pages/Userballot/587625811299982"><img src="img/facebook.png" alt=""></a>
                        </div>
                        <div class="icon-feature-left">
                            <a href="https://plus.google.com/b/100033594081784228442/100033594081784228442/about"><img src="img/gplus2.png" alt=""></a>
                        </div>
                        <div class="icon-feature-left">
                            <a href="http://www.linkedin.com/company/3350090?trk=tyah&trkInfo=tas%3Auserballot"><img src="img/linkedin.png" alt=""></a>
                        </div>
                        <div class="icon-feature-right">
                            <a href="https://twitter.com/UserBallot"><img src="img/twitter.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
        <!-- footer -->
        <div class="footer">
            <p>&copy;UserBallot.com</p>
        </div>
    </div>
        
        <script src="scripts/jquery-2.0.3.min.js"></script>
        <script src="scripts/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="scripts/vendor/angular.js"></script>
        <script src="//cdn.firebase.com/v0/firebase.js"></script>
        <script src="//cdn.firebase.com/v0/firebase-simple-login.js"></script>
        <script src="//cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/loading.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/controllers/adminarea.js"></script>
        <script src="scripts/ui-interactions.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

    </body>
</html>
