<!-- AdminArea -->
<div ng-controller="AdminAreaCtrl"  data-ng-init="initView()">
	<div class="extended-wrap">
		
		<div class="admin-bar">
			<span ng-show="user.firstName">Hello, <strong>{{user.firstName}}</strong></span>
			<span ng-hide="user.firstName">Hello, <strong>{{user.email}}</strong></span>
			<span ng-show="user.planType == 'entry'"> | <strong>Entry Plan</strong></span>
			<span ng-show="user.planType == 'standard'"> | <strong>Standard Plan</strong></span>
			<span ng-show="user.planType == 'deluxe'"> | <strong>Deluxe Plan</strong></span>
			<span> | <a ng-click="logout()">Logout</a></span>
		</div>
		<!-- The container is a centered 960px -->
		<div class="container content-wrap"> <!-- bs -->
			<div class="sixteen columns"> <!-- bs -->
				<div class="row"> <!-- bs -->
					<div class="three columns alpha" style="margin-right: 0;"> <!-- bs -->
						&nbsp;
					</div>
					<!-- logo -->
					<div class="thirteen columns omega logo"> <!-- bs -->
						<div class="logo-container">
					        <a href="/" style="text-decoration: none;">
					            <img id="logo-icon" src="img/logo-icon.svg" alt="">
					            <img id="logo" src="img/logo.svg" alt="">
					        </a>
						</div>
					</div>
				</div>
			</div>
			<!-- Give column value in word form (one, two..., twelve) -->
			<div class="sixteen columns"> <!-- bs -->
				<div class="row"> <!-- bs -->
					<div style="text-align:center;">
						<div class="alpha main-nav"> <!-- bs -->
		              		<a class="main-nav-item" ng-class="{active: adminView.state=='questions'}" ng-click="adminViewState('questions')">Control Center</a>
		              		<a class="main-nav-item" ng-class="{active: adminView.state=='setup'}" ng-click="adminViewState('setup')">Get Started</a>
		              		<a class="main-nav-item" ng-class="{active: adminView.state=='settings'}" ng-click="adminViewState('settings')">Settings</a>
						</div>
					</div>
					
					<div class="sixteen columns omega"><!-- bs -->
						<div ng-show="adminView.state=='setup'">
						<div id="cmscontainer">
							<button class="three-columns alpha cms" ng-class="{active: adminView.state=='setup'}" ng-click="adminViewState('setup')">Embed Code</button> <!-- bs -->
							<button class="three-columns alpha cms" ng-class="{active: adminView.state=='wordpress'}" ng-click="adminViewState('wordpress')">WP Plugin</button> <!-- bs -->
						</div>
							<div class="card-wrap info-wrap thirteen columns" id="steps"> <!-- bs -->
								<!-- step 1 -->
								<div class="title">Let's get started!</div>
								<br><br>
								<strong>Step 1</strong>
								<p>Copy and paste the following code directly before the closing body tag of your site, or send it to your site administrator or web editor (whoever runs your website).</p>

								<textarea readonly class="topcoat-textarea code-provider active" rows="3" cols="" placeholder=""><!-- UserBallot: Add this before the closing body tag  --><script type="text/javascript">var $ub = window.$ub || {};$ub.siteId = '{{site.id}}';</script><script src="http://app.userballot.com/client.js"></script></textarea>
								<br><br>
								<!-- step 2 -->
								<br>
								<strong>Step 2</strong>
								<p>You're done! Create your first question using your Control Center.</p>
								<br>
								<strong>A few things to remember.</strong>
								<p>Make sure you ask simple yes or no questions and keep them short (99 characters or less).</p>
								<p>Questions are shown to a visitor only once.</p>
								<p>Only questions that are set to <span style="color:#2ecc71; font-weight:bold;">active</span> will be shown to your visitors.</p>
								<br>
								<p><a ng-click="adminViewState('questions')" href="" class="close">Click here</a> when you are ready to start asking questions!</p>
							</div>
						</div>
						<div ng-show="adminView.state=='wordpress'">
							<div id="cmscontainer">
								<button class="three-columns alpha cms" ng-class="{active: adminView.state=='setup'}" ng-click="adminViewState('setup')">Embed Code</button> <!-- bs -->
								<button class="three-columns alpha cms" ng-class="{active: adminView.state=='wordpress'}" ng-click="adminViewState('wordpress')">WP Plugin</button> <!-- bs -->
							</div>
							<div class="card-wrap info-wrap thirteen columns" id="steps"> <!-- bs -->
								<!-- step 1 -->
								<div class="title">Setup is simple with a Wordpress plugin!</div>
								<br><br>
								<strong>Step 1</strong>
								<p><a href="https://wordpress.org/plugins/userballot/">Install the plugin</a> and activate it in your Wordpress admin panel.</p>
								<br>
								<strong>Step 2</strong>
								<br>
								<p><span>Copy your UserBallot site ID here:</span>&nbsp&nbsp<span><input style="border: 1px solid #a1a1a1; width: 150px; border-radius: 3px;" readonly type="text" value="{{site.id}}"></span>
									<br>
									<span class="small-instruction-text">NOTE: This includes the leading "-" character.</span>
								</p>
								<br>
								<strong>Step 3</strong>
								<br>
								<p>Go to the plugin's configuration page, and save your site ID.</p>
								<br>
								<strong>Step 4</strong>
								<br>
								<p>You're done! Create your first question using your Control Center.</p>
								<br>
								<strong>A few things to remember.</strong>
								<p>Make sure you ask simple yes or no questions and keep them short (99 characters or less).</p>
								<p>Questions are shown to a visitor only once.</p>
								<p>Only questions that are set to <span style="color:#2ecc71;font-weight:bold;">active</span> will be shown to your visitors.</p>
								<br>
								<p><a ng-click="adminViewState('questions')" href="" class="close">Click here</a> when you are ready to start asking questions!</p>
							</div>
						</div>

						<div style="margin-left: 0;" id="settingsBlock" ng-show="adminView.state=='settings'">
							<div class="card-wrap info-wrap thirteen columns settings2"> <!-- bs -->
								<div class="title">Site Settings</div>
								<br>
								<div class="line-item"> <!-- bs -->
									<p>What color would you like to use in your UserBallots?</p>
									<input style="margin-left: 15px;" type='color' id="customColor" value="{{site.hue}}" ng-model="site.hue" />
 									<input spellcheck="false" type="text" value="{{site.hue}}" ng-model="site.hue"/>
								</div>
								<br>
								<div class="line-item"> <!-- bs -->
									<p>What look would you like for your UserBallots?</p>
									<button class="topcoat-button--quiet" id="yes" ng-click="setShade('light')" ng:class="{active:site.shade=='light'}">Light</button> <!-- bs -->
									<button class="topcoat-button--quiet" ng-click="setShade('dark')" ng:class="{active: site.shade=='dark'}">Dark</button> <!-- bs -->
									<button class="topcoat-button--quiet" ng-click="setShade('vibrant')" ng:class="{active: site.shade=='vibrant'}">Vibrant</button>	<!-- bs -->
								</div>
								<br>
								<div class="line-item"> <!-- bs -->
									<form name="sitesettings">
										<p>How many days between showing each question to a visitor?</p> 
										<input id="days" ng-model="site.frequency" maxlength="3" type="number" ngMinimum="0"/> days.
									</form>
								</div>	
								<br>
								<div class="line-item"> <!-- bs -->
									<p>Allow people to mute questions, hiding all future questions from them?</p>
									<button class="topcoat-button--quiet" id="yes" ng-click="setAllowMute(true)" ng:class="{active: site.allowmute=='1'}">Yes</button> <!-- bs -->
									<button class="topcoat-button--quiet" ng-click="setAllowMute(false)" ng:class="{active: site.allowmute=='0'}">No</button>	<!-- bs -->
								</div>
								<br><br><br><br><br>
								<div class="title" style="margin 50px 0 !important;">Account Info</div>
								<br><br>
								<span style="margin-left: 15px;">{{user.firstName}}</span>&nbsp<span>{{user.lastName}}</span>
								<button class="topcoat-button--quiet" ng-click="editAcct($index)" ng:class="{active: site.editing}">Edit Name</button> <!-- bs -->
								<div class="question-wrap" ng-show="user.editing">
    								<input spellcheck="false" ng-minlength="1" ng-model="user.firstName" update-model-on-blur></input><input spellcheck="false" ng-minlength="1" ng-model="user.lastName" update-model-on-blur></input><button ng-click="noEditAcct()">Done</button>
								</div>
								<br><br>
								<span style="margin-left: 15px;">{{user.email}}</span>
								<button class="topcoat-button--quiet" ng-click="editAcctEmail($index)" ng:class="{active: site.editingEmail}">Edit Email</button> <!-- bs -->
								<div class="question-wrap" ng-show="user.editingEmail">
    								<input style="width: 150px;" spellcheck="false" ng-minlength="1"  ng-model="user.email" update-model-on-blur></input><button ng-click="noEditAcctEmail()">Done</button>
								</div>
							</div>
						</div>
						<div id="questionsBlock" ng-show="adminView.state=='questions'">
							<div id="ask" class="card-wrap ask-new-question" style="border-radius: 3px;">
								<!-- <h2 class="emphasis-heading">Add a new question</h2> -->
								<br>
								<div style="color: #fbfbfb; text-align:center;" class="emphasis-heading">Ask a new question!</div> <!-- bs -->
								<form ng-submit="submit()" ng-controller="AdminAreaCtrl" name="questionSubmitForm">
								<div class="charcount" ng-show="questionSubmitForm.text.$valid">{{question.length}} / 99</div>
								<div class="charcount-error" ng-show="questionSubmitForm.text.$error.maxlength">Question is too long!</div>
								<textarea class="topcoat-textarea ask-new-question-input" ng-model="question" name="text" rows="2" cols="" ng-maxlength="99" placeholder="Keep it simple and ask a yes or no question. (99 characters or less)" required style="margin-bottom:2.5%;"></textarea> <!-- bs -->
								<button class="newbutton" id="save-question" ng-disabled="questionSubmitForm.text.$invalid">Create</button> <!-- bs -->
								</form>
							</div>
							<div>
								<div id="questionsWrap">
									<div id="questions" class="section-header-med">Current Questions</div>
									<!-- <a href="#">active</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">draft</a> -->

									<!-- <div class="line-item card-wrap" ng:class="{true:'active', false:''}[message.active=='1']" ng-repeat="message in site.messages"> -->
									<div ng-repeat="message in site.messages | orderObjectBy:'position':true">
										<div class="line-item card-wrap"> <!-- bs -->
                                            <div class="default">
    											<div class="timestamp">
	    											<span ng-show="message.startdate"><strong>Started:</strong> {{message.startdate | date:'mediumDate'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
    												<span ng-show="message.enddate"><strong>Ended:</strong> {{message.enddate | date: 'mediumDate'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
    												<span ng-show="message.updated"><strong>Last Updated:</strong> {{message.updated | date:'medium'}}</span>
    											</div>

	    										<div class="left" style="margin-left:2.5%; padding-left:0.563rem;">
    												<button class="topcoat-button--quiet outline" ng-click="selectActive(message)" ng-class="{active: message.active}">Active</button> <!-- bs -->
    												<button class="topcoat-button--quiet outline" ng-click="selectDraft(message)" ng-class="{active: !message.active}">Draft</button> <!-- bs -->
    											</div>
	    										<div class="right" style="margin-right:2.5%;">
    												<button class="topcoat-button--quiet outline" ng-click="editMessage(message)">Edit</button> <!-- bs -->
    												<button class="topcoat-button--quiet delete outline" ng-click="removeMessage(message)">Delete</button> <!-- bs -->
    											</div>
			    								<br class="clear" /><br> <!-- bs -->
	        	    							<div class="header-small center"> <!-- bs --> 
    												<span id="yes-no">Question</span>
    											</div>
    											<div class="question-wrap" ng-hide="message.editing">
				    							{{message.text}}
    										   	<br><br><button disabled class="newbutton left hide" id="update-question">Update</button> <!-- bs -->
    											</div>
    											<br class="clear" /> <!-- bs -->

    											<div class="editMessage left" ng-show="message.editing">
    												<textarea class="topcoat-textarea" name="text" rows="2" rows="2" cols="" ng-model="message.text" cols="60" ng-maxlength="99" update-model-on-blur>{{message.text}}</textarea><br><br> <!-- bs -->
    												<button class="newbutton" id="update-question" ng-click="updateMessage(message)">Update</button> <!-- bs -->

    											</div>
    											<!-- results -->
    											<br class="clear" /><!-- bs -->
											<div style="width: 100%; text-align: center;">
												<div class="header-small center" style="width: 175px; text-align: center; margin: auto; height: 15px;"> <!-- bs -->
													<span class="vote">Yes</span>
													<span class="vote">No</span>
												</div>
											</div>
											<div class="results-wrap">
												<!-- <div class="line-item-results">
													<span class="result-label">Views:</span><span class="pill no views-{{message.id}}">{{message.views}}</span>
												</div>
												<div class="line-item-results" ng-show="site.allowmute=='1' && message.mute > 0">
													<span class="result-label">Muted:</span><span class="pill no mute-{{message.id}}">{{message.mute}}</span>
												</div>
												<div class="line-item-results">
													<span class="result-label">Yes:</span><span class="pill yes yes-{{message.id}}">{{message.yesVotes}}</span>
												</div>
												<div class="line-item-results">
													<span class="result-label">No:</span><span class="pill no no-{{message.id}}">{{message.noVotes}}</span>
												</div> -->
												<div style="text-align:center;">
													<div id="answer-display" style="background-image: url(img/pill.svg);">
														<div class="vote">
															<div class="pill yes yes-{{message.id}}">{{message.yesVotes}}</div>
														</div>
														<div class="vote">
															<div class="pill no no-{{message.id}}">{{message.noVotes}}</div>
														</div>
													
													</div>
												</div>
												<br class="clear" /> <!-- bs -->
												<div class="reset">
													<button class="topcoat-button--quiet outline" style="margin-bottom:5px; " ng-click="resetMessageCount(message)">Reset</button> <!-- bs -->
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<br class="clear" /> <!-- bs -->
				</div>
			</div>
		</div> 
	</div>
</div> 

