<!-- AdminArea -->
<div ng-controller="AdminAreaCtrl">
	<div class="extended-wrap">
		<div class="admin-bar"><span ng-show="user.email">{{user.email}} | <a ng-click="logout()">Logout</a></span></div>
		<!-- The container is a centered 960px -->
		<div class="container content-wrap">
			<div class="sixteen columns">
				<div class="row">
					<div class="three columns alpha">
						&nbsp;
					</div>
					<!-- logo -->
					<div class="thirteen columns omega">
						<a href="http://app.userballot.com/"><img class="logo" src="img/betaapp.svg" alt="" width="120"></a>
					</div>
				</div>
			</div>
			<!-- Give column value in word form (one, two..., twelve) -->
			<div class="sixteen columns">
				<div class="row">
					<div class="three columns alpha" style="margin-top:15px">
		              <!-- <a class="main-nav-item" href="#">Dashboard</a> -->
		              <a class="main-nav-item" ng-class="{active: adminView.state=='questions'}" ng-click="adminViewState('questions')">Dashboard</a>
		              <a class="main-nav-item" ng-class="{active: adminView.state=='setup'}" ng-click="adminViewState('setup')">Setup</a>
		              <a class="main-nav-item" ng-class="{active: adminView.state=='settings'}" ng-click="adminViewState('settings')">Settings</a>
					</div>
					<div class="twelve columns omega">
						<div id="helpBlock" class="card-wrap" ng-show="adminView.state=='setup'">
							<div class="info-wrap">
								<a href="" class="close right">Hide</a>
								<br class="clear" />

								<!-- step 1 -->
								<strong>Step 1</strong>
								<p>Copy and paste the following code directly before the closing body tag of your site.</p>

								<textarea readonly class="topcoat-textarea code-provider active" rows="3" cols="" placeholder=""><!-- UserBallot: Add this before the closing body tag  --><script type="text/javascript">var $ub = window.$ub || {};$ub.siteId = '{{site.id}}';</script><script src="http://app.userballot.com/client.js"></script></textarea>
								<br><br>
								<!-- step 2 -->
								<strong>Step 2</strong>
								<p>Create your first question using the "Ask a new question" section of your admin area, which is now highlighted below.</p>
								<br>
								<strong>A few things to remember.</strong>
								<p>Make sure you ask simple yes or no questions and keep them short (140 characters or less).</p>
								<p>Questions are shown to a visitor only once.</p>
								<p>Only questions that are set to 'active' will be shown to your visitors.</p>
								<br>
								<p><a ng-click="adminViewState('questions')" href="" class="close">Click here</a> when you are ready to start asking questions.</p>
							</div>
						</div>
						<div id="settingsBlock" class="card-wrap" ng-show="adminView.state=='settings'">
							<div class="info-wrap">
								<a href="" class="close right">Hide</a>
								<br class="clear" />
								<strong>Settings</strong>
								<div class="line-item">
									<form name="sitesettings">
										<p>How many days between showing each question to a visitor?</p> 
										<input style="width: 50px;" ng-model="site.frequency" maxlength="3" type="number" ngMinimum="0"/> days.
									</form>
								</div>	
								<div class="line-item">
									<p>Allow people to mute questions, hiding all future questions from them?</p>
									<button class="topcoat-button--quiet" ng-click="setAllowMute(true)" ng:class="{true:'active', false:''}[site.allowmute=='1']">Yes</button>
									<button class="topcoat-button--quiet" ng-click="setAllowMute(false)" ng:class="{true:'active', false:''}[site.allowmute=='0']">No</button>	
								</div>
							</div>
						</div>
						<div id="questionsBlock" ng-show="adminView.state=='questions'">
							<div class="card-wrap ask-new-question">
								<!-- <h2 class="emphasis-heading">Add a new question</h2> -->
								<br>
								<div class="emphasis-heading">Ask a new question</div>
								<form ng-submit="submit()" ng-controller="AdminAreaCtrl" name="questionSubmitForm">
								<div class="charcount" ng-show="questionSubmitForm.text.$valid">{{question.length}} / 140</div>
								<div class="charcount-error" ng-show="questionSubmitForm.text.$error.maxlength">Question is too long!</div>
								<textarea class="topcoat-textarea ask-new-question-input" ng-model="question" name="text" rows="2" cols="" ng-maxlength="140" placeholder="Keep it simple and ask a yes or no question. (140 characters or less)" required style="margin-bottom:2.5%;"></textarea>
								<button class="newbutton" id="save-question" ng-disabled="questionSubmitForm.text.$invalid">Save</button>
								</form>
							</div>
							<div>
								<div id="questionsWrap">
									<div id="questions" class="section-header-med">Current Questions</div>
									<!-- <a href="#">active</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">draft</a> -->

									<!-- <div class="line-item card-wrap" ng:class="{true:'active', false:''}[message.active=='1']" ng-repeat="message in site.messages"> -->
									<div class="line-item card-wrap" ng-repeat="message in site.messages">
										<div class="timestamp">
											<span ng-show="message.startdate"><strong>Started:</strong> {{message.startdate | date:'mediumDate'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
											<span ng-show="message.enddate"><strong>Ended:</strong> {{message.enddate | date: 'mediumDate'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
											<span ng-show="message.updated"><strong>Last Updated:</strong> {{message.updated | date:'medium'}}</span>
										</div>
											
										<div class="left" style="margin-left:2.5%; padding-left:0.563rem;">
											<button class="topcoat-button--quiet outline" ng-click="selectActive($index)" ng:class="{true:'active', false:''}[message.active=='1']">Active</button>
											<button class="topcoat-button--quiet outline" ng-click="selectDraft($index)" ng:class="{true:'active', false:''}[message.active=='0']">Draft</button>
										</div>
										<div class="right" style="margin-right:2.5%;">
											<button class="topcoat-button--quiet outline" ng-click="editMessage($index)">Edit</button>
											<button class="topcoat-button--quiet delete outline" ng-click="removeMessage($index)">Delete</button>
										</div>
										<br class="clear" />
										<div class="header-small center">question</div>
										<div class="question-wrap" ng-hide="message.editing">
											{{message.text}}
										   <br><br><button disabled class="newbutton left hide" id="update-question">Update</button>
										</div>
										<br class="clear" />
										<div class="editMessage left" ng-show="message.editing">
											<textarea class="topcoat-textarea" name="text" rows="3" ng-model="message.text" cols="60" ng-maxlength="140" update-model-on-blur>{{message.text}}</textarea><br><br>
											<button class="newbutton" id="update-question" ng-click="updateMessage($index)">Update</button>
											
										</div>
										<!-- results -->
										<div class="right" style="margin-right:2.5%;">
											<button class="topcoat-button--quiet outline" ng-click="resetMessageCount($index)">Reset</button>
										</div>
										<br class="clear" />
										<div class="header-small center">results</div>
										<div class="results-wrap">
											<div class="line-item-results">
												<span class="result-label">Views:</span><span class="pill no views-{{message.id}}">{{message.views}}</span>
											</div>
											<div class="line-item-results" ng-show="site.allowmute=='1' && message.mute > 0">
												<span class="result-label">Muted:</span><span class="pill no mute-{{message.id}}">{{message.mute}}</span>
											</div>
											<div class="line-item-results">
												<span class="result-label">Yes:</span><span class="pill yes yes-{{message.id}}">{{message.yesVotes}}</span>
											</div>
											<div class="line-item-results">
												<span class="result-label">No:</span><span class="pill no no-{{message.id}}">{{message.noVotes}}</span>
											</div>
											<br class="clear" />
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<br class="clear" />
				</div>
			</div>
		</div>
	</div>
</div>
