<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles/treatments.css">
	<style type="text/css">
		.container {
			width: 878px;
			height: 317px;
			background-color: #eaeaea;
			border-radius: 3px;
		}
		.selectContainer {
			width: 20%;
			left: 0;
			padding: 20px;
		}
		.selector {
			text-align: center;
			font-family: Helvetica;
			color: #323232;
		}
		.selector2 {

		}
		#analytics {
			width: 100%;
		}
		#filter {
			width: 100%;
			margin-top: 20px;
		}
		select {
			width: 100%;
		}
	</style>
</head>
<body>
	<div>
		<div class="container">
			<div class="selectContainer">
				<div class="selector" id="analytics">Analytics</div>
					<select>
						<option id="overview">Overview</option>
						<option id="responseTime">Response Time</option>
						<option id="location">Location</option>
						<option id="device">Device</option>
						<option id="operatingSystem">Operating System</option>
					</select>
				<div>
					<div class="selector" id="filter">Filter</div>
					<select>
						<option id="all">All</option>
						<option id="yes">Yes</option>
						<option id="no">No</option>
						<option id="answered">Answered</option>
						<option id="didntAnswer">Didn't Answer</option>
						<option id="newUsers">New</option>
						<option id="returningUsers">Returning Users</option>
					</select>
				</div>
					<div class="header-small center">
						<span id="yes-no">Yes</span>
						<span id="yes-no">No</span>
					</div>
					<div class="results-wrap">
												<div class="line-item-results">
													<span class="result-label">Views:</span><span class="pill no views-{{message.id}}">{{message.views}}</span>
												</div>
												<div class="line-item-results" ng-show="site.allowmute=='1' && message.mute > 0">
													<span class="result-label">Muted:</span><span class="pill no mute-{{message.id}}">{{message.mute}}</span>
												</div>
												<div class="line-item-results">
													<span class="result-label">Yes:</span><span class="pill yes yes-{{message.id}}">{{message.yesVotes}}</span>
												</div>
												<div class="line-item-results">
													<span class="result-label">No:</span><span class="pill no no-{{message.id}}">{{message.noVotes}}</span>
												</div>
						<div style="text-align:center;">
							<div id="answer-display" style="background-image: url(img/pill.svg);">
								<div class="vote">
									<div class="pill yes yes-{{message.id}}">0</div>
								</div>
								<div class="vote">
									<div class="pill no no-{{message.id}}">0</div>
								</div>
													
							</div>
						</div>
			</div>
		</div>
	</div>
</body>
</html>