<!-- AdminArea -->
<div ng-controller="LoginCtrl">
	<div class="extended-wrap">
		<div class="admin-bar"><span>&nbsp;</span></div>
		<!-- The container is a centered 960px -->
		<div class="container content-wrap">
			<div class="sixteen columns">
				<div class="row">
					<div class="three columns alpha">
						&nbsp;
					</div>
					<!-- logo -->
					<div class="thirteen columns omega">
						<a href="http://app.userballot.com/"><img class="logo" src="img/betaapp.svg" alt="" width="120"></a>
					</div>
				</div>
			</div>
			<!-- Give column value in word form (one, two..., twelve) -->
			<div class="sixteen columns">
				<div class="row">
					<div class="three columns alpha">
		              <!-- <a class="main-nav-item" href="#">Dashboard</a> -->
		              <a class="main-nav-item" href="#" id="helpBlockShow">How it works</a>
					</div>
					<div class="twelve columns omega">

						<div class="card-wrap">
							<h2 class="emphasis-heading">Loading...</h2>
						</div>
					</div>
					<br class="clear" />
				</div>
			</div>
		</div>
	</div>
</div>
