<!-- AdminArea -->
<div ng-controller="LoginCtrl">
	<div class="extended-wrap">
		<div class="admin-bar"><span>&nbsp;</span></div>
		<!-- The container is a centered 960px -->
		<div class="container content-wrap">
			<div class="sixteen columns">
				<div class="row">
					<div class="three columns alpha">
						&nbsp;
					</div>
					<!-- logo -->
					<div class="thirteen columns omega logo">
						<div class="logo-container">
					        <a href="/" style="text-decoration: none;">
					            <img id="logo-icon" src="img/logo-icon.svg" alt="">
					            <img id="logo" src="img/logo.svg" alt="">
					        </a>
						</div>
					</div>
				</div>
			</div>
			<!-- Give column value in word form (one, two..., twelve) -->
			<div class="sixteen columns">
				<div class="row">
					<div class="three columns alpha"></div>
					<div class="twelve columns omega">

						<div>
							<h2 class="emphasis-heading">Loading...</h2>
						</div>
					</div>
					<br class="clear" />
				</div>
			</div>
		</div>
	</div>
</div>
