<div class="card-wrap">
	<div class="title">Login to UserBallot</div>
	<div class="error">{{error}}</div>
	<form ng-submit="login()">
		<input type="text" class="topcoat-text-input--large" ng-model="email" placeholder="Enter your email" />
		<input type="text" class="topcoat-text-input--large" ng-model="password" placeholder="Enter your password" />
		<input type="submit" class="topcoat-button--large" name="submit" value="Signup Now!" />
		<a ng-href="/#/signup">No Account? Signup Now!</a> 
	</form>
</div>

