
<div class="signup-block-wrap center"> <!-- bs -->
  <div class="admin-bar">
    <span ng-show="site.firstName">Hello, <strong>{{site.firstName}}</strong></span>
    <span ng-hide="site.firstName">Hello, <strong>{{user.email}}</strong></span>
    <span> | <a ng-click="logout()">Logout</a></span>
  </div>
  <!-- logo -->
  <div class="logo-container" style="margin: 50px auto 0">
        <a href="/" style="text-decoration: none;">
            <img id="logo-icon" src="img/logo-icon.svg" alt="">
            <img id="logo" src="img/logo.svg" alt="">
        </a>
  </div>
      

  <form id="order-form" name="order" ng-submit="placeOrder()" style="padding: 0;" class="signup-form css-form" novalidate> <!-- bs -->

    <h3>Order</h3>

    <div id="entry">
      <div class="pricing" ng-show="plan == 'entry'" style="width: 100%;">
        <br><br><br>
        <p><strong>Get started with our most affordable plan! This plan includes:</strong></p>
        <br>
        <ul>
          <li style="list-style: disc"><strong>2,500</strong> Responses Monthly</li>
          <!--<li style="list-style: disc">Question Analytics</li>-->
        </ul>
        <br><br>
      </div>
    </div>
    <div id="standard">
      <div class="pricing" ng-show="plan == 'standard'" style="width: 100%;">
        <br><br><br>
        <p><strong>Get started with double the responses! This plan includes:</strong></p>
        <br>
        <ul>
          <li style="list-style: disc"><strong>5,000</strong> Responses Monthly</li>
          <!--<li style="list-style: disc">Question Analytics</li>-->
        </ul>
        <br><br>
      </div>
    </div>
    <div id="deluxe">
      <div class="pricing" ng-show="plan == 'deluxe'" style="width: 100%;">
        <br><br><br>
        <p><strong>Get started with the best value! This plan includes:</strong></p>
        <br>
        <ul>
          <li style="list-style: disc"><strong>25,000</strong> Responses Monthly</li>
          <!--<li style="list-style: disc">Question Analytics</li>-->
        </ul>
        <br><br>
      </div>
    </div>
    <div class="form-section-title"> <!-- bs -->
    </div>

    <!-- general error message -->
    <div class="public-form-error-message"> <!-- bs -->
      {{generalError}}
    </div>

    <input type="text" ng-model="formData.name" class="fresh-text-input signup-input-wide" required placeholder="Name on Card"/><br> <!-- bs -->

    <input type="text" ng-model="cc" class="cc-input fresh-text-input signup-input-wide" data-stripe="number" required placeholder="Card Number"/> <!-- bs -->

    <input type="text" ng-model="cvc" class="cvc-input fresh-text-input signup-input-wide" data-stripe="cvc" required placeholder="CVC"/> <!-- bs -->

    <div class="form-row">
      <select ng-model="expMonth" class="month-input" data-stripe="exp-month" required>
        <option value="">Month</option>
        <option value="01">01 - Jan</option>
        <option value="02">02 - Feb</option>
        <option value="03">03 - Mar</option>
        <option value="04">04 - Apr</option>
        <option value="05">05 - May</option>
        <option value="06">06 - Jun</option>
        <option value="07">07 - Jul</option>
        <option value="08">08 - Aug</option>
        <option value="09">09 - Sep</option>
        <option value="10">10 - Oct</option>
        <option value="11">11 - Nov</option>
        <option value="12">12 - Dec</option>
      </select>
      <select ng-model="expYear" class="year-input" data-stripe="exp-year" required>
        <option value="">Year</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
      </select>

    </div>

    <input type="submit" class="signup-btn" ng-disabled="order.$invalid || submitting" name="submit" value="Submit Payment" /> 

  </form>

  <br>

  <br class="clear" /> <!-- bs -->
</div>