<div class="signup-block-wrap center">
  <!-- logo -->
  <div class="log- logo-container">
      <a href="/" style="text-decoration: none;">
          <img id="logo-icon" src="img/logo-icon.svg" alt="">
          <img id="logo" src="img/logo.svg" alt="">
      </a>
  </div>
  

  <form name="signup" ng-submit="register()" class="signup-form css-form" novalidate>

    <h3>Sign Up is Free</h3>

    <div class="form-section-title"></div>
    <ul>
      <li>Get the pulse of your visitors.</li>
      <li>Get started quick.</li>
      <li>Be driven by response.</li>
    </ul>
    <!-- general error message -->
    <div class="public-form-error-message">
      {{error}}
    </div>
    <!-- name -->
    <div id="names">
      <input class="fresh-text-input signup-input-wide" id="firstName" ng-model="firstName" required placeholder="First Name" />
      <input class="fresh-text-input signup-input-wide" id="lastName" ng-model="lastName" required placeholder="Last Name" />
    </div>

    <!-- email address -->
    <input type="text" class="fresh-text-input signup-input-wide"  ng-model="email" name="uEmail" required placeholder="Email Address" /><br/>

    <!-- error message -->
    <div ng-show="emailError" class="public-form-error-message">
      {{emailError}}
    </div>

    <!-- password -->
    <input type="password" class="fresh-text-input signup-input-wide"  ng-model="password" required placeholder="Password"/>
    <input name="confirm_password" type="password" class="fresh-text-input signup-input-wide" ui-validate=" '$value==password' " ng-model="repassword" ui-validate-watch=" 'password' " required placeholder="Confirm Password">

    <div class="public-form-error-message" ng-show="pcheck()">
      Passwords do not match.
    </div>
   <!-- site url 
    <div class="form-section-title">Site Details</div> 
    <input type="text" class="fresh-text-input signup-input-wide" ng-model="domain" required placeholder="Site URL" /><br/>

    <div ng-show="domainError" class="public-form-error-message">
      {{domainError}}
    </div>
    error message -->

    <input type="submit" class="signup-btn" ng-disabled="signup.$valid != true" name="submit" value="Sign Up" /> 

  </form>

  <br>
  <a ng-href="/#/login">Already have an account?</a> 

  <br class="clear" />
  </div>

