
<div style="padding: 50px 0 0 10px;"><a href="http://userballot.com/"><img class="logo" src="img/userBallotLogoFullWhite.png" alt="" width="120"></a></div>
<div class="card-wrap" style="margin-top: 50px; text-align: center; padding-left: 0;">
  <br/>
  <div class="error" style="color: red;">{{error}}</div><br/>
  <span style="display: inline-block; width: 30px; text-align: right; margin: 5px 20px 0 0;"></span><div class="" style="font-size: 17px; display: inline-block; margin-bottom: 20px; font-weight: 500;">Create your account</div>
  <form name="signup" ng-submit="register()" class="css-form" novalidate>
    <span style="display: inline-block; width: 175px; text-align: right; margin: 15px 20px 0 0; color: #696F74;">Email</span><input type="text" class="topcoat-text-input--large"  ng-model="email" name="uEmail" required placeholder="jack@beanstalk.com" style="width: 300px; padding: 10px;" /><br/>
    <div ng-show="emailError">
      <span style="display: inline-block; width: 175px; text-align: right; margin: 15px 20px 0 0;"></span>
      <span style="font-size: small; color: red;">{{emailError}}</span>
    </div><br/>
    <span style="display: inline-block; width: 175px; text-align: right; margin: 15px 20px 0 0; color: #696F74;">Password</span><input type="password" class="topcoat-text-input--large"  ng-model="password" required placeholder="Enter your password" style="width: 300px; padding: 10px;" /><br/><br/>
    <span style="display: inline-block; width: 175px; text-align: right; margin: 15px 20px 0 0; color: #696F74;">Site URL</span><input type="text" class="topcoat-text-input--large" ng-model="domain" required placeholder="beanstalk.com" style="width: 300px; padding: 10px;" /> <br/>
    <div ng-show="domainError">
      <span style="display: inline-block; width: 175px; text-align: right; margin: 15px 20px 0 0;"></span>
      <span style="font-size: small; color: red;">{{domainError}}</span>
    </div><br/>
    <br/><br/>

    <input type="submit" class="topcoat-button--large" ng-disabled="signup.$invalid" name="submit" value="Signup Now!" />	
  </form><br /><br /><br />
  <a ng-href="/#/login" class="right">Already have an account?</a> 
  <br class="clear" />

</div>

